In [60]:
import pandas as pd
import numpy as np
import math

In [61]:
from sympy import *

In [62]:
# Se importa el archivo
df = pd.read_csv('8x8comp.txt', skiprows=4, header=None)

# Se agregan las cabeceras de las columnas
df.columns = ['klm', 'k1l1m1', 'k2l2m2', 'cg_coef', 'multiplet', 'degeneracy']

# Se eliminan las filas con valores NaN
df = df.dropna()

# Convierte la columna "degeneracy" en tipo int
df = df.astype({"degeneracy":int})

# Retorna una lista con los multipletes existentes
multiplets = df['multiplet'].value_counts().index.tolist()

In [64]:
# Función para separar el dataframe en multipletes
def divide_df(multiplet_i, dataf, headerc):
    df_multiplet = dataf[dataf[headerc] == multiplet_i]
    return df_multiplet

In [74]:
# Retorna solo las filas con el multiplete indicado en la función
m = divide_df(multiplets[0], df, 'multiplet')

# Retorna una lista con las degeneraciones del multiplete m
degeneracy = m['degeneracy'].value_counts().index.tolist()

# Divide el multiplete en data frame por degeneraciones
d = divide_df(degeneracy[0], m, 'degeneracy')

Si se quisiera eliminar columnas con dropna: 
~~~
df.dropna(axis='name of the axis'/'all')
~~~

Otra opción para búsqueda en el data frame:
~~~
d = '11'

df.query('multiplet == @d')
~~~
o
~~~
filter1 = df['klm'] == '300'
df[filter1]
~~~
ó
~~~
is_11 = df.loc[:,'multiplet'] == '11'
df_11 = df.loc[is_11]
df_11.head()
~~~

In [63]:
initial1 = '100'
dfi1 = df.query('k1l1m1 == @initial1')
initial2 = '200'
dfi2 = dfi1.query('k2l2m2 == @initial2')
dfi2
final = '300'
dff = dfi2.query('klm == @final')
dff
multipletd = '03'
dfm = dff.query('multiplet == @multipletd')
dfm
cgc_str=dfm.loc[:,'cg_coef'].values[0]
#cgc_str
cgc = parse_expr(cgc_str, evaluate=0)
cgc

-sqrt(2)/2

In [90]:
# Calcula el cgc para un caso específico dentro de un df dividido
def cgc_md(i1, i2, f, ddf):
    initial1 = i1
    dfi1 = ddf.query('k1l1m1 == @initial1')
    initial2 = i2
    dfi2 = dfi1.query('k2l2m2 == @initial2')
    dfi2
    final = f
    dff = dfi2.query('klm == @final')
    cgc_str=dff.loc[:,'cg_coef'].values[0]
    cgc_str
    cgc = parse_expr(cgc_str, evaluate=0)
    return cgc

# Verifica si el df dividido es simétrico o antisimétrico
def is_symmetric(particle1, particle2, particlef, sdf):
    p1 = sdf['k1l1m1'].head(1).values[0]
    p2 = sdf['k2l2m2'].head(1).values[0]
    pf = sdf['klm'].head(1).values[0]
    val1 = cgc_md(particle1, particle2, productof, sdf)
    val2 = cgc_md(particle2, particle1, productof, sdf)
    if val1 == val2:
        return 'S'
    else:
        return 'A'

In [91]:
#print(particle1, particle2, productof)
is_symmetric(p1,p2,pf,d)

'A'

In [92]:
degeneracy

[2, 1]

In [101]:
Symmetry = []
Multiplets = []
for i in range(len(degeneracy)):
    d = divide_df(degeneracy[i], m, 'degeneracy')
    Symmetry.append(is_symmetric(p1,p2,pf,d))
    Multiplets.append(multiplets[0])
    print(is_symmetric(p1,p2,pf,d))
Symmetry

S
A

['S', 'A']

In [102]:
Multiplets

['11', '11']

In [103]:
Degeneracy = degeneracy
Degeneracy

[2, 1]

In [104]:
df_describe = pd.DataFrame()
df_describe['multiplet'] = Multiplets
df_describe['degeneracy'] = Degeneracy
df_describe['is_symm'] = Symmetry
df_describe

  multiplet  degeneracy is_symm
0        11           2       S
1        11           1       A

In [69]:
multiplets

['11', '22', '30', '03', '00']

In [98]:
multiplets[0]

'11'

In [56]:
df_describe = pd.DataFrame()
df_describe['multiplet'] = ['11', '11', '22', '30', '03', '00']
df_describe['degeneracy'] = ['1', '2', '1', '1', '1', '1']
df_describe['is_symm'] = ['A', 'S', 'A', 'S', 'S', 'A']
df_describe

  multiplet degeneracy is_symm
0        11          1       A
1        11          2       S
2        22          1       A
3        30          1       S
4        03          1       S
5        00          1       A

### TO DO 
1. Crear una función que verifique la simetría y devuelva los valores de "multiplet" y "degeneracy"
    - Buscar como agregar valores a un array
    - Crear dos listas, una de simetricos y otra de antisimetricos
2. ~~Crear una función que calcule los coeficientes de cg mediante búsquedas en el data frame~~

In [41]:
for i in multiplets:
    print(i)

11
22
30
03
00

In [31]:
type(multiplets)

list

In [35]:
nmultiplets =[]
for i in range(len(multiplets)):
    nmultiplets.append(int(multiplets[i]))
print(nmultiplets)

[11, 22, 30, 3, 0]

In [38]:
for i in multiplets:
    print (i)

11
22
30
03
00

In [40]:
array1 = [[],[]]
array1

[[], []]

In [ ]:
arra