In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
# Se importa el archivo
df = pd.read_csv('8x8comp.txt', skiprows=4, header=None)

# Se agregan las cabeceras de las columnas
df.columns = ['klm', 'k1l1m1', 'k2l2m2', 'cg_coef', 'multiplet', 'degeneracy', 'dtot']

# Se eliminan las filas con valores NaN
df = df.dropna()

# Convierte la columna "degeneracy" en tipo int
df = df.astype({"degeneracy":int})
df = df.astype({"dtot":int})

# Retorna una lista con los multipletes existentes
multiplets = df['multiplet'].value_counts().index.tolist()

In [3]:
# Función para separar el dataframe en multipletes
def divide_df(multiplet_i, dataf, headerc):
    df_multiplet = dataf[dataf[headerc] == multiplet_i]
    return df_multiplet

In [21]:
# Retorna un df del multiplete indicado en la función
m = divide_df(multiplets[0], df, 'multiplet')

# Retorna una lista con las degeneraciones del multiplete m
degeneracy = m['degeneracy'].value_counts().index.tolist()

# Divide el multiplete en data frame por degeneraciones
d = divide_df(degeneracy[0], m, 'degeneracy')

In [24]:
ListM=[]
for i in range(len(multiplets)):
    m = divide_df(multiplets[i], df, 'multiplet')
    degeneracy = m['degeneracy'].value_counts().index.tolist()
    if len(degeneracy)>1:
        for j in range(len(degeneracy)):
            print(degeneracy[j])
    else:
        print(degeneracy)

2
1
[1]
[1]
[1]
[1]

In [29]:
ListM=[]
for i in range(len(multiplets)):
    m = divide_df(multiplets[i], df, 'multiplet')
    degeneracy = m['degeneracy'].value_counts().index.tolist()
    if len(degeneracy)>1:
        for j in range(len(degeneracy)):
            ListM.append(multiplets[i])
    else:
        ListM.append(multiplets[i])
ListM

['11', '11', '22', '30', '03', '00']

In [5]:
from sympy import *

In [11]:
# Calcula el cgc para un caso específico dentro de un dataframe previamente filtrado m y d
def cgc_md(initial1, initial2, final, ddf):
    dff = ddf.query('k1l1m1 == @initial1').query('k2l2m2 == @initial2').query('klm == @final')
    cgc_str=dff.loc[:,'cg_coef'].values[0]
    cgc = parse_expr(cgc_str, evaluate=0)
    return cgc

# Verifica si el df dividido es simétrico o antisimétrico
def is_symmetric(sdf):
    p1 = sdf['k1l1m1'].head(1).values[0]
    p2 = sdf['k2l2m2'].head(1).values[0]
    pf = sdf['klm'].head(1).values[0]
    val1 = cgc_md(p1, p2, pf, sdf)
    val2 = cgc_md(p2, p1, pf, sdf)
    if val1 == val2:
        return 'S'
    else:
        return 'A'

In [38]:
Symmetry = []
Multiplets = []
Degeneracy = []
for i in range(len(multiplets)):
    m = divide_df(multiplets[i], df, 'multiplet')
    degeneracy = m['degeneracy'].value_counts().index.tolist()
    if len(degeneracy)>1:
        for j in range(len(degeneracy)):
            Multiplets.append(multiplets[i])
            d = divide_df(degeneracy[j], m, 'degeneracy')
            Symmetry.append(is_symmetric(d))
            Degeneracy.append(degeneracy[j])
    else:
        Multiplets.append(multiplets[i])
        Symmetry.append(is_symmetric(m))
        Degeneracy.append(degeneracy[0])
Degeneracy

[2, 1, 1, 1, 1, 1]

In [39]:
df_describe = pd.DataFrame()
df_describe['multiplet'] = Multiplets
df_describe['degeneracy'] = Degeneracy
df_describe['is_symm'] = Symmetry
df_describe

  multiplet  degeneracy is_symm
0        11           2       S
1        11           1       A
2        22           1       S
3        30           1       A
4        03           1       A
5        00           1       S

In [12]:
Symmetry = []
Multiplets = []
for i in range(len(degeneracy)):
    d = divide_df(degeneracy[i], m, 'degeneracy')
    Symmetry.append(is_symmetric(d))
    Multiplets.append(multiplets[0])
    print(is_symmetric(d))
Symmetry

S
A

['S', 'A']

In [37]:
degeneracy

[1]

In [20]:
ListaM = []
for i in multiplets:
    deg_tot = m['dtot'].values[0]
    if deg_tot > 1:
        print('d')
    else:
        ListaM.append(multiplets[i])

ListaM

d
d
d
d
d

[]

In [17]:
degeneracy

[2, 1]

In [47]:
deg_tot = m['dtot'].values[0]
deg_tot

2

## TO DO
1. Es necesario agregar multiplicidad a la tabla
2. Verificar si funciona mejor que el multiplete sea un índice o repitiendo el índice con el multiplete

In [14]:
df.loc[(df['multiplet']=='11')&(df['degeneracy']==1)]

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy  dtot
58   100    100    111   -sqrt(1/4)        11           1     2
59   101    101    111   -sqrt(1/4)        11           1     2
60   100    100    201  -sqrt(1/12)        11           1     2
61   100    101    200    sqrt(1/6)        11           1     2
62   101    100    202   -sqrt(1/6)        11           1     2
63   101    101    201   sqrt(1/12)        11           1     2
64   100    111    100    sqrt(1/4)        11           1     2
65   101    111    101    sqrt(1/4)        11           1     2
66   100    200    101   -sqrt(1/6)        11           1     2
67   100    201    100   sqrt(1/12)        11           1     2
68   101    201    101  -sqrt(1/12)        11           1     2
69   101    202    100    sqrt(1/6)        11           1     2
70   111    100    212   -sqrt(1/4)        11           1     2
71   111    101    211    sqrt(1/4)        11           1     2
72   111    111    111      sqrt(0)        11           1     2
73   111    200    202      sqrt(0)        11           1     2
74   111    201    201      sqrt(0)        11           1     2
75   111    202    200      sqrt(0)        11           1     2
76   111    211    101   -sqrt(1/4)        11           1     2
77   111    212    100    sqrt(1/4)        11           1     2
78   200    100    211   -sqrt(1/6)        11           1     2
79   201    100    212  -sqrt(1/12)        11           1     2
80   201    101    211  -sqrt(1/12)        11           1     2
81   202    101    212   -sqrt(1/6)        11           1     2
82   200    111    200      sqrt(0)        11           1     2
83   201    111    201      sqrt(0)        11           1     2
84   202    111    202      sqrt(0)        11           1     2
85   200    200    111      sqrt(0)        11           1     2
86   201    201    111      sqrt(0)        11           1     2
87   202    202    111      sqrt(0)        11           1     2
88   200    200    201   -sqrt(1/3)        11           1     2
89   200    201    200    sqrt(1/3)        11           1     2
90   201    200    202   -sqrt(1/3)        11           1     2
91   201    201    201      sqrt(0)        11           1     2
92   201    202    200    sqrt(1/3)        11           1     2
93   202    201    202   -sqrt(1/3)        11           1     2
94   202    202    201    sqrt(1/3)        11           1     2
95   200    211    100    sqrt(1/6)        11           1     2
96   201    211    101   sqrt(1/12)        11           1     2
97   201    212    100   sqrt(1/12)        11           1     2
98   202    212    101    sqrt(1/6)        11           1     2
99   211    111    211   -sqrt(1/4)        11           1     2
100  212    111    212   -sqrt(1/4)        11           1     2
101  211    200    212   -sqrt(1/6)        11           1     2
102  211    201    211   sqrt(1/12)        11           1     2
103  212    201    212  -sqrt(1/12)        11           1     2
104  212    202    211    sqrt(1/6)        11           1     2
105  211    211    111    sqrt(1/4)        11           1     2
106  212    212    111    sqrt(1/4)        11           1     2
107  211    211    201  -sqrt(1/12)        11           1     2
108  211    212    200    sqrt(1/6)        11           1     2
109  212    211    202   -sqrt(1/6)        11           1     2
110  212    212    201   sqrt(1/12)        11           1     2

In [49]:
df[df['multiplet'].str.contains('00')]

   klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy  dtot
0  000    100    212   sqrt(1/8)        00           1     1
1  000    101    211  -sqrt(1/8)        00           1     1
2  000    111    111  -sqrt(1/8)        00           1     1
3  000    200    202   sqrt(1/8)        00           1     1
4  000    201    201  -sqrt(1/8)        00           1     1
5  000    202    200   sqrt(1/8)        00           1     1
6  000    211    101  -sqrt(1/8)        00           1     1
7  000    212    100   sqrt(1/8)        00           1     1