In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
from sympy import *

In [3]:
# Se importa el archivo
df = pd.read_csv('8x8comp.txt', skiprows=4, header=None)

# Se agregan las cabeceras de las columnas
df.columns = ['klm', 'k1l1m1', 'k2l2m2', 'cg_coef', 'multiplet', 'degeneracy']

# Se eliminan las filas con valores NaN
df = df.dropna()

# Convierte la columna "degeneracy" en tipo int
df = df.astype({"degeneracy":int})

In [4]:
df.loc[0:9]

   klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy
0  000    100    212   sqrt(1/8)        00           1
1  000    101    211  -sqrt(1/8)        00           1
2  000    111    111  -sqrt(1/8)        00           1
3  000    200    202   sqrt(1/8)        00           1
4  000    201    201  -sqrt(1/8)        00           1
5  000    202    200   sqrt(1/8)        00           1
6  000    211    101  -sqrt(1/8)        00           1
7  000    212    100   sqrt(1/8)        00           1
9  300    100    200  -sqrt(1/2)        03           1

Si se quisiera eliminar columnas con dropna: 
~~~
df.dropna(axis='name of the axis'/'all')
~~~

Para convertir texto a objeto sympy:

In [5]:
y = df.iloc[1,3]
y

'-sqrt(1/8)'

In [6]:
a = parse_expr(y, evaluate=0)
a

-sqrt(2)/4

Otra opción para búsqueda en el data frame:
~~~
d = '11'

df.query('multiplet == @d')
~~~
o
~~~
filter1 = df['klm'] == '300'
df[filter1]
~~~
ó
~~~
is_11 = df.loc[:,'multiplet'] == '11'
df_11 = df.loc[is_11]
df_11.head()
~~~

In [74]:
initial1 = '100'
dfi1 = df.query('k1l1m1 == @initial1')
initial2 = '200'
dfi2 = dfi1.query('k2l2m2 == @initial2')
dfi2
final = '300'
dff = dfi2.query('klm == @final')
dff
multipletd = '03'
dfm = dff.query('multiplet == @multipletd')
cgc_str=dfm['cg_coef'].values[0]
cgc = parse_expr(cgc_str, evaluate=0)
cgc

-sqrt(2)/2

In [18]:
df.loc[:,['klm','degeneracy']]

     klm  degeneracy
0    000           1
1    000           1
2    000           1
3    000           1
4    000           1
..   ...         ...
303  301           1
304  301           1
305  302           1
306  302           1
307  303           1

[302 rows x 2 columns]

In [81]:
initial1 = '100'
dfi1 = df.query('k1l1m1 == @initial1')
initial2 = '200'
dfi2 = dfi1.query('k2l2m2 == @initial2')
dfi2
final = '300'
dff = dfi2.query('klm == @final')
dff
multipletd = '03'
dfm = dff.query('multiplet == @multipletd')
dfm
cgc_str=dfm.loc[:,'cg_coef'].values[0]
#cgc_str
cgc = parse_expr(cgc_str, evaluate=0)
cgc

-sqrt(2)/2

### TO DO 
1. Crear una función que verifique la simetría y devuelva los valores de "multiplet" y "degeneracy"
2. Crear una función que calcule los coeficientes de cg mediante búsquedas en el data frame

In [63]:
# Función para separar el dataframe en multipletes
def divide_df(multiplet_i, dataf, headerc):
    df_multiplet = dataf[dataf[headerc] == multiplet_i]
    return df_multiplet

In [64]:
multiplets = df['multiplet'].value_counts().index.tolist() # Retorna los multipletes existentes

# Retorna solo las filas con el multiplete indicado en la función
m = divide_df(multiplets[0], df, 'multiplet')
m

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy
58   100    100    111   -sqrt(1/4)        11           1
59   101    101    111   -sqrt(1/4)        11           1
60   100    100    201  -sqrt(1/12)        11           1
61   100    101    200    sqrt(1/6)        11           1
62   101    100    202   -sqrt(1/6)        11           1
..   ...    ...    ...          ...       ...         ...
160  212    212    111  -sqrt(1/20)        11           2
161  211    211    201  -sqrt(3/20)        11           2
162  211    212    200   sqrt(3/10)        11           2
163  212    211    202  -sqrt(3/10)        11           2
164  212    212    201   sqrt(3/20)        11           2

[106 rows x 6 columns]

In [105]:
# Revisa la degeneración
degeneracy = m['degeneracy'].value_counts().index.tolist()

# Divide el multiplete en degeneraciones
d = take_multiplet(degeneracy[1], m, 'degeneracy')
d

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy
58   100    100    111   -sqrt(1/4)        11           1
59   101    101    111   -sqrt(1/4)        11           1
60   100    100    201  -sqrt(1/12)        11           1
61   100    101    200    sqrt(1/6)        11           1
62   101    100    202   -sqrt(1/6)        11           1
63   101    101    201   sqrt(1/12)        11           1
64   100    111    100    sqrt(1/4)        11           1
65   101    111    101    sqrt(1/4)        11           1
66   100    200    101   -sqrt(1/6)        11           1
67   100    201    100   sqrt(1/12)        11           1
68   101    201    101  -sqrt(1/12)        11           1
69   101    202    100    sqrt(1/6)        11           1
70   111    100    212   -sqrt(1/4)        11           1
71   111    101    211    sqrt(1/4)        11           1
72   111    111    111      sqrt(0)        11           1
73   111    200    202      sqrt(0)        11           1
74   111    201    201      sqrt(0)        11           1
75   111    202    200      sqrt(0)        11           1
76   111    211    101   -sqrt(1/4)        11           1
77   111    212    100    sqrt(1/4)        11           1
78   200    100    211   -sqrt(1/6)        11           1
79   201    100    212  -sqrt(1/12)        11           1
80   201    101    211  -sqrt(1/12)        11           1
81   202    101    212   -sqrt(1/6)        11           1
82   200    111    200      sqrt(0)        11           1
83   201    111    201      sqrt(0)        11           1
84   202    111    202      sqrt(0)        11           1
85   200    200    111      sqrt(0)        11           1
86   201    201    111      sqrt(0)        11           1
87   202    202    111      sqrt(0)        11           1
88   200    200    201   -sqrt(1/3)        11           1
89   200    201    200    sqrt(1/3)        11           1
90   201    200    202   -sqrt(1/3)        11           1
91   201    201    201      sqrt(0)        11           1
92   201    202    200    sqrt(1/3)        11           1
93   202    201    202   -sqrt(1/3)        11           1
94   202    202    201    sqrt(1/3)        11           1
95   200    211    100    sqrt(1/6)        11           1
96   201    211    101   sqrt(1/12)        11           1
97   201    212    100   sqrt(1/12)        11           1
98   202    212    101    sqrt(1/6)        11           1
99   211    111    211   -sqrt(1/4)        11           1
100  212    111    212   -sqrt(1/4)        11           1
101  211    200    212   -sqrt(1/6)        11           1
102  211    201    211   sqrt(1/12)        11           1
103  212    201    212  -sqrt(1/12)        11           1
104  212    202    211    sqrt(1/6)        11           1
105  211    211    111    sqrt(1/4)        11           1
106  212    212    111    sqrt(1/4)        11           1
107  211    211    201  -sqrt(1/12)        11           1
108  211    212    200    sqrt(1/6)        11           1
109  212    211    202   -sqrt(1/6)        11           1
110  212    212    201   sqrt(1/12)        11           1

In [120]:
def cgc_md(i1, i2, f):
    initial1 = i1
    dfi1 = d.query('k1l1m1 == @initial1')
    initial2 = i2
    dfi2 = dfi1.query('k2l2m2 == @initial2')
    dfi2
    final = f
    dff = dfi2.query('klm == @final')
    cgc_str=dff.loc[:,'cg_coef'].values[0]
    cgc_str
    cgc = parse_expr(cgc_str, evaluate=0)
    return cgc

In [121]:
cgc_md('100', '111', '100')

-1/2

In [122]:
m.shape[0]

106

In [123]:
particle1 = d['k1l1m1'].head(1).values[0]
particle2 = d['k2l2m2'].head(1).values[0]
productof = d['klm'].head(1).values[0]
print(particle1, particle2, productof)
val1 = cgc_md(particle1, particle2, productof)
val2 = cgc_md(particle2, particle1, productof)
print (val1, val2)
print (val1 == val2)

100 111 100
-1/2 1/2
False

In [104]:
m['degeneracy'].head(1).values == m['degeneracy'].tail(1).values

array([False])