In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_csv('8x8to27.txt', sep = ' ', skiprows=1, header=None)
df

    0   1   2   3        4  5        6  7        8  9           10
0  NaN NaN NaN NaN  (2,0,0)  :  (1,0,0)  x  (1,0,0)  =     sqrt(1)
1  NaN NaN NaN NaN  (2,0,1)  :  (1,0,0)  x  (1,0,1)  =   sqrt(1/2)
2  NaN NaN NaN NaN  (2,0,1)  :  (1,0,1)  x  (1,0,0)  =   sqrt(1/2)
3  NaN NaN NaN NaN  (2,0,2)  :  (1,0,1)  x  (1,0,1)  =     sqrt(1)
4  NaN NaN NaN NaN  (2,1,1)  :  (1,0,0)  x  (1,1,1)  =  sqrt(9/20)
..  ..  ..  ..  ..      ... ..      ... ..      ... ..         ...
89 NaN NaN NaN NaN  (4,1,4)  :  (2,1,2)  x  (2,0,2)  =   sqrt(1/2)
90 NaN NaN NaN NaN  (4,2,2)  :  (2,1,1)  x  (2,1,1)  =     sqrt(1)
91 NaN NaN NaN NaN  (4,2,3)  :  (2,1,1)  x  (2,1,2)  =   sqrt(1/2)
92 NaN NaN NaN NaN  (4,2,3)  :  (2,1,2)  x  (2,1,1)  =   sqrt(1/2)
93 NaN NaN NaN NaN  (4,2,4)  :  (2,1,2)  x  (2,1,2)  =     sqrt(1)

[94 rows x 11 columns]

In [3]:
df.iloc[:,10][1]

'sqrt(1/2)'

In [4]:
from sympy import *

In [5]:
y = df.iloc[:,10][1]
y

'sqrt(1/2)'

Para convertir texto a objeto sympy:

In [6]:
a = parse_expr(y, evaluate=0)
a

sqrt(2)/2

In [7]:
df1 = pd.read_fwf('8x8to27.txt', sep = ' ', skiprows=1, header=None)
df1

          0    1        2    3        4    5           6
0   (2,0,0)    :  (1,0,0)    x  (1,0,0)    =     sqrt(1)
1   (2,0,1)    :  (1,0,0)    x  (1,0,1)    =   sqrt(1/2)
2   (2,0,1)    :  (1,0,1)    x  (1,0,0)    =   sqrt(1/2)
3   (2,0,2)    :  (1,0,1)    x  (1,0,1)    =     sqrt(1)
4   (2,1,1)    :  (1,0,0)    x  (1,1,1)    =  sqrt(9/20)
..      ...  ...      ...  ...      ...  ...         ...
90  (4,2,2)    :  (2,1,1)    x  (2,1,1)    =     sqrt(1)
91  (4,2,3)    :  (2,1,1)    x  (2,1,2)    =   sqrt(1/2)
92  (4,2,3)    :  (2,1,2)    x  (2,1,1)    =   sqrt(1/2)
93  (4,2,4)    :  (2,1,2)    x  (2,1,2)    =     sqrt(1)
94      NaN  NaN      NaN  NaN      NaN  NaN         NaN

[95 rows x 7 columns]

In [35]:
df2 = pd.read_csv('8x8comp.txt', skiprows=4, header=None)
df2.columns = ['y1i1iz1', 'y2i2iz2', 'YIIz', 'cg_coef', 'multiplet', 'degeneracy']
df2

          y1i1iz1  y2i2iz2     YIIz       cg_coef multiplet degeneracy
0          (000)    (100)    (212)     sqrt(1/8)      (00)         (1)
1          (000)    (101)    (211)    -sqrt(1/8)      (00)         (1)
2          (000)    (111)    (111)    -sqrt(1/8)      (00)         (1)
3          (000)    (200)    (202)     sqrt(1/8)      (00)         (1)
4          (000)    (201)    (201)    -sqrt(1/8)      (00)         (1)
..            ...      ...      ...           ...       ...        ...
303        (301)    (211)    (201)    -sqrt(1/3)      (30)         (1)
304        (301)    (212)    (200)    -sqrt(1/6)      (30)         (1)
305        (302)    (211)    (202)    -sqrt(1/6)      (30)         (1)
306        (302)    (212)    (201)    -sqrt(1/3)      (30)         (1)
307        (303)    (212)    (202)    -sqrt(1/2)      (30)         (1)

[308 rows x 6 columns]

In [36]:
df2.loc[1:9]

,y1i1iz1,y2i2iz2,YIIz,cg_coef,multiplet,degeneracy
1,(000),(101),(211),-sqrt(1/8),(00),(1)
2,(000),(111),(111),-sqrt(1/8),(00),(1)
3,(000),(200),(202),sqrt(1/8),(00),(1)
4,(000),(201),(201),-sqrt(1/8),(00),(1)
5,(000),(202),(200),sqrt(1/8),(00),(1)
6,(000),(211),(101),-sqrt(1/8),(00),(1)
7,(000),(212),(100),sqrt(1/8),(00),(1)
8,Clebsch-Gordan coefficients for (1,1) x (1,1) -> (0,3),degeneracy 1:,NaN
9,(300),(100),(200),-sqrt(1/2),(03),(1)

Verificar si hay NaN en el df2

In [41]:
df2.shape

(308, 6)

In [39]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   y1i1iz1     308 non-null    object
 1   y2i2iz2     306 non-null    object
 2   YIIz        306 non-null    object
 3   cg_coef     306 non-null    object
 4   multiplet   306 non-null    object
 5   degeneracy  302 non-null    object
dtypes: object(6)
memory usage: 14.6+ KB

In [42]:
df2.isna()

     y1i1iz1  y2i2iz2   YIIz  cg_coef  multiplet  degeneracy
0      False    False  False    False      False       False
1      False    False  False    False      False       False
2      False    False  False    False      False       False
3      False    False  False    False      False       False
4      False    False  False    False      False       False
..       ...      ...    ...      ...        ...         ...
303    False    False  False    False      False       False
304    False    False  False    False      False       False
305    False    False  False    False      False       False
306    False    False  False    False      False       False
307    False    False  False    False      False       False

[308 rows x 6 columns]

In [43]:
df2.isnull()

     y1i1iz1  y2i2iz2   YIIz  cg_coef  multiplet  degeneracy
0      False    False  False    False      False       False
1      False    False  False    False      False       False
2      False    False  False    False      False       False
3      False    False  False    False      False       False
4      False    False  False    False      False       False
..       ...      ...    ...      ...        ...         ...
303    False    False  False    False      False       False
304    False    False  False    False      False       False
305    False    False  False    False      False       False
306    False    False  False    False      False       False
307    False    False  False    False      False       False

[308 rows x 6 columns]

Eliminar filas con NaN

In [47]:
df2 = df2.dropna()
df2.loc[1:9]

        y1i1iz1  y2i2iz2     YIIz       cg_coef multiplet degeneracy
1        (000)    (101)    (211)    -sqrt(1/8)      (00)         (1)
2        (000)    (111)    (111)    -sqrt(1/8)      (00)         (1)
3        (000)    (200)    (202)     sqrt(1/8)      (00)         (1)
4        (000)    (201)    (201)    -sqrt(1/8)      (00)         (1)
5        (000)    (202)    (200)     sqrt(1/8)      (00)         (1)
6        (000)    (211)    (101)    -sqrt(1/8)      (00)         (1)
7        (000)    (212)    (100)     sqrt(1/8)      (00)         (1)
9        (300)    (100)    (200)    -sqrt(1/2)      (03)         (1)

Si se quisiera eliminar columnas con dropna: df.dropna(axis='name of the axis'/'all')