In [2]:
import pandas as pd
import numpy as np
import math

In [8]:
df = pd.read_csv('8x8to27.txt', sep = ' ', skiprows=1, header=None)
df

    0   1   2   3        4  5        6  7        8  9           10
0  NaN NaN NaN NaN  (2,0,0)  :  (1,0,0)  x  (1,0,0)  =     sqrt(1)
1  NaN NaN NaN NaN  (2,0,1)  :  (1,0,0)  x  (1,0,1)  =   sqrt(1/2)
2  NaN NaN NaN NaN  (2,0,1)  :  (1,0,1)  x  (1,0,0)  =   sqrt(1/2)
3  NaN NaN NaN NaN  (2,0,2)  :  (1,0,1)  x  (1,0,1)  =     sqrt(1)
4  NaN NaN NaN NaN  (2,1,1)  :  (1,0,0)  x  (1,1,1)  =  sqrt(9/20)
..  ..  ..  ..  ..      ... ..      ... ..      ... ..         ...
89 NaN NaN NaN NaN  (4,1,4)  :  (2,1,2)  x  (2,0,2)  =   sqrt(1/2)
90 NaN NaN NaN NaN  (4,2,2)  :  (2,1,1)  x  (2,1,1)  =     sqrt(1)
91 NaN NaN NaN NaN  (4,2,3)  :  (2,1,1)  x  (2,1,2)  =   sqrt(1/2)
92 NaN NaN NaN NaN  (4,2,3)  :  (2,1,2)  x  (2,1,1)  =   sqrt(1/2)
93 NaN NaN NaN NaN  (4,2,4)  :  (2,1,2)  x  (2,1,2)  =     sqrt(1)

[94 rows x 11 columns]

In [15]:
df.iloc[:,10][1]

'sqrt(1/2)'

In [13]:
from sympy import *

x = sqrt(1)
print(x)

In [14]:
x = sqrt(1)
print(x)

1

In [16]:
y = df.iloc[:,10][1]

In [17]:
y

'sqrt(1/2)'

Convertir texto a objeto sympy:

In [18]:
a = parse_expr(y, evaluate=0)
a

sqrt(2)/2