#### Abreviaturas:
- df: data frame
- cg_coef: coeficientes de Clebsch Gordan para SU(3)
- dtot: número de degeneraciones totales

In [40]:
import pandas as pd
import numpy as np
import math

In [41]:
# Se importa el archivo
df = pd.read_csv('8x8comp.txt', skiprows=4, header=None)

# Se agregan las cabeceras de las columnas
df.columns = ['klm', 'k1l1m1', 'k2l2m2', 'cg_coef', 'multiplet', 'degeneracy', 'dtot']

# Se eliminan las filas con valores NaN
df = df.dropna()

# Convierte las columnas "degeneracy" y "dtot" en tipo int
df = df.astype({"degeneracy":int})
df = df.astype({"dtot":int})

# Retorna una lista con los multipletes existentes
multiplets = df['multiplet'].value_counts().index.tolist()

In [48]:
# Función para separar el df en multipletes
def divide_df(multiplet_i, dataf, headerc):
    df_multiplet = dataf[dataf[headerc] == multiplet_i]
    return df_multiplet

In [44]:
from sympy import *

In [45]:
# Calcula el cgc para un caso específico dentro de un dfe previamente filtrado
def cgc_md(initial1, initial2, final, ddf):
    dff = ddf.query('k1l1m1 == @initial1').query('k2l2m2 == @initial2').query('klm == @final')
    cgc_str=dff.loc[:,'cg_coef'].values[0]
    cgc = parse_expr(cgc_str, evaluate=0)
    return cgc

# Verifica si el df filtrado es simétrico o antisimétrico
def is_symmetric(sdf):
    p1 = sdf['k1l1m1'].head(1).values[0]
    p2 = sdf['k2l2m2'].head(1).values[0]
    pf = sdf['klm'].head(1).values[0]
    val1 = cgc_md(p1, p2, pf, sdf)
    val2 = cgc_md(p2, p1, pf, sdf)
    if val1 == val2:
        return 'S'
    else:
        return 'A'

In [115]:
Symmetry = []
Multiplets = []
Degeneracy = []
Index = []
ListSA = []
for i in range(len(multiplets)):
    # Retorna un df del multiplete indicado en la función
    m = divide_df(multiplets[i], df, 'multiplet')
    
    # Retorna una lista con las degeneraciones del multiplete m
    degeneracy = m['degeneracy'].value_counts().index.tolist()
    
    if len(degeneracy)>1:
        for j in range(len(degeneracy)):
            Multiplets.append(multiplets[i])
            
            # Divide el multiplete en df por degeneraciones
            d = divide_df(degeneracy[j], m, 'degeneracy')
            
            Index.append(d.index)
            SA = is_symmetric(d)
            Symmetry.append(SA)
            Degeneracy.append(degeneracy[j])
            for k in range(d.shape[0]):
                ListSA.append(SA)
    else:
        Multiplets.append(multiplets[i])
        Symmetry.append(is_symmetric(m))
        Degeneracy.append(degeneracy[0])
        Index.append(m.index)
        SA = is_symmetric(m)
        for k in range(m.shape[0]):
                ListSA.append(SA)

# Elabora un df para describir cada multiplete
df_describe = pd.DataFrame()
df_describe['multiplet'] = Multiplets
df_describe['degeneracy'] = Degeneracy
df_describe['is_symm'] = Symmetry
df_describe

  multiplet  degeneracy is_symm
0        11           2       S
1        11           1       A
2        22           1       S
3        30           1       A
4        03           1       A
5        00           1       S

In [116]:
df_describe.loc[(df_describe['is_symm']=='S')]

  multiplet  degeneracy is_symm
0        11           2       S
2        22           1       S
5        00           1       S

In [117]:
df_describe.loc[(df_describe['is_symm']=='A')]

  multiplet  degeneracy is_symm
1        11           1       A
3        30           1       A
4        03           1       A

In [118]:
df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   9,  10,
            ...
            298, 299, 300, 301, 302, 303, 304, 305, 306, 307],
           dtype='int64', length=302)

In [119]:
Index

[Int64Index([112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124,
             125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137,
             138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150,
             151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163,
             164],
            dtype='int64'),
 Int64Index([ 58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,
              71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,
              84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,
              97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109,
             110],
            dtype='int64'),
 Int64Index([166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178,
             179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191,
             192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204,
             205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217,
             218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230,
             231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243,
             244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256,
             257, 258, 259],
            dtype='int64'),
 Int64Index([261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
             274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
             287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
             300, 301, 302, 303, 304, 305, 306, 307],
            dtype='int64'),
 Int64Index([ 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
             26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42,
             43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55],
            dtype='int64'),
 Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')]

In [120]:
ListSA

['S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S',
 'S']

In [121]:
df.loc[:,'is_symm']=ListSA
df

     klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy  dtot is_symm
0    000    100    212   sqrt(1/8)        00           1     1       S
1    000    101    211  -sqrt(1/8)        00           1     1       S
2    000    111    111  -sqrt(1/8)        00           1     1       S
3    000    200    202   sqrt(1/8)        00           1     1       S
4    000    201    201  -sqrt(1/8)        00           1     1       S
..   ...    ...    ...         ...       ...         ...   ...     ...
303  301    211    201  -sqrt(1/3)        30           1     1       S
304  301    212    200  -sqrt(1/6)        30           1     1       S
305  302    211    202  -sqrt(1/6)        30           1     1       S
306  302    212    201  -sqrt(1/3)        30           1     1       S
307  303    212    202  -sqrt(1/2)        30           1     1       S

[302 rows x 8 columns]

In [109]:
lista = [x for x in range(1, 21) if x % 2 == 0]
lista

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [110]:
lista = [c if c != c.lower() else c.upper() for c in "Hola MundO, BiEnvenidos!!"]
lista

['H',
 'O',
 'L',
 'A',
 ' ',
 'M',
 'U',
 'N',
 'D',
 'O',
 ',',
 ' ',
 'B',
 'I',
 'E',
 'N',
 'V',
 'E',
 'N',
 'I',
 'D',
 'O',
 'S',
 '!',
 '!']

In [60]:
md = df_describe.iloc[0,0]
dd = df_describe.iloc[0,1]
isd = df_describe.iloc[0,2]
df.loc[(df['multiplet']==md)&(df['degeneracy']==dd)]

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy  dtot
112  100    100    111  -sqrt(1/20)        11           2     2
113  101    101    111  -sqrt(1/20)        11           2     2
114  100    100    201   sqrt(3/20)        11           2     2
115  100    101    200  -sqrt(3/10)        11           2     2
116  101    100    202   sqrt(3/10)        11           2     2
117  101    101    201  -sqrt(3/20)        11           2     2
118  100    111    100  -sqrt(1/20)        11           2     2
119  101    111    101  -sqrt(1/20)        11           2     2
120  100    200    101  -sqrt(3/10)        11           2     2
121  100    201    100   sqrt(3/20)        11           2     2
122  101    201    101  -sqrt(3/20)        11           2     2
123  101    202    100   sqrt(3/10)        11           2     2
124  111    100    212   sqrt(1/20)        11           2     2
125  111    101    211  -sqrt(1/20)        11           2     2
126  111    111    111   -sqrt(1/5)        11           2     2
127  111    200    202   -sqrt(1/5)        11           2     2
128  111    201    201    sqrt(1/5)        11           2     2
129  111    202    200   -sqrt(1/5)        11           2     2
130  111    211    101  -sqrt(1/20)        11           2     2
131  111    212    100   sqrt(1/20)        11           2     2
132  200    100    211  -sqrt(3/10)        11           2     2
133  201    100    212  -sqrt(3/20)        11           2     2
134  201    101    211  -sqrt(3/20)        11           2     2
135  202    101    212  -sqrt(3/10)        11           2     2
136  200    111    200    sqrt(1/5)        11           2     2
137  201    111    201    sqrt(1/5)        11           2     2
138  202    111    202    sqrt(1/5)        11           2     2
139  200    200    111    sqrt(1/5)        11           2     2
140  201    201    111    sqrt(1/5)        11           2     2
141  202    202    111    sqrt(1/5)        11           2     2
142  200    200    201      sqrt(0)        11           2     2
143  200    201    200      sqrt(0)        11           2     2
144  201    200    202      sqrt(0)        11           2     2
145  201    201    201      sqrt(0)        11           2     2
146  201    202    200      sqrt(0)        11           2     2
147  202    201    202      sqrt(0)        11           2     2
148  202    202    201      sqrt(0)        11           2     2
149  200    211    100  -sqrt(3/10)        11           2     2
150  201    211    101  -sqrt(3/20)        11           2     2
151  201    212    100  -sqrt(3/20)        11           2     2
152  202    212    101  -sqrt(3/10)        11           2     2
153  211    111    211  -sqrt(1/20)        11           2     2
154  212    111    212  -sqrt(1/20)        11           2     2
155  211    200    212   sqrt(3/10)        11           2     2
156  211    201    211  -sqrt(3/20)        11           2     2
157  212    201    212   sqrt(3/20)        11           2     2
158  212    202    211  -sqrt(3/10)        11           2     2
159  211    211    111  -sqrt(1/20)        11           2     2
160  212    212    111  -sqrt(1/20)        11           2     2
161  211    211    201  -sqrt(3/20)        11           2     2
162  211    212    200   sqrt(3/10)        11           2     2
163  212    211    202  -sqrt(3/10)        11           2     2
164  212    212    201   sqrt(3/20)        11           2     2

In [93]:
# Transforma los números cuánticos de una particula de y, i, iz al tipo k, l, m
def transform(particle):
    # Separa una palabra por caracteres y luego convierte cada elemento a entero
    p = int(list('11')[0])
    q = int(list('11')[1])
    
    # Convierte a caracter lo que convirtio en entero
    k = str(int((p+2*q)/3 + particle[0]/2 + particle[1]))
    l = str(int((p+2*q)/3 + particle[0]/2 - particle[1]))
    m = str(int((p+2*q)/3 + particle[0]/2 + particle[2]))
    
    # Une los caracteres klm en una sola cadena
    klm = ''.join([k, l, m])
    return klm

proton = [1, 1/2, 1/2]
Dp = [1, 1/2, 1/2]
Sigma_mas = [1,0,0]
transform(proton)

'212'

In [100]:
transform(Sigma_mas)

'111'

In [98]:
df.loc[(df['multiplet']=='11')&(df['klm']=='212')]

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy  dtot
100  212    111    212   -sqrt(1/4)        11           1     2
103  212    201    212  -sqrt(1/12)        11           1     2
104  212    202    211    sqrt(1/6)        11           1     2
106  212    212    111    sqrt(1/4)        11           1     2
109  212    211    202   -sqrt(1/6)        11           1     2
110  212    212    201   sqrt(1/12)        11           1     2
154  212    111    212  -sqrt(1/20)        11           2     2
157  212    201    212   sqrt(3/20)        11           2     2
158  212    202    211  -sqrt(3/10)        11           2     2
160  212    212    111  -sqrt(1/20)        11           2     2
163  212    211    202  -sqrt(3/10)        11           2     2
164  212    212    201   sqrt(3/20)        11           2     2

In [103]:
df.loc[(df['klm']=='211')&(df['k1l1m1']=='111')&(df['k2l2m2']=='100')]

     klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy  dtot
176  211    111    100  sqrt(9/20)        22           1     1

In [72]:
# Filtrar las filas del df completo
df[df['multiplet'].isin(['11', '22', '00'])]

     klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy  dtot
0    000    100    212   sqrt(1/8)        00           1     1
1    000    101    211  -sqrt(1/8)        00           1     1
2    000    111    111  -sqrt(1/8)        00           1     1
3    000    200    202   sqrt(1/8)        00           1     1
4    000    201    201  -sqrt(1/8)        00           1     1
..   ...    ...    ...         ...       ...         ...   ...
255  414    212    202   sqrt(1/2)        22           1     1
256  422    211    211     sqrt(1)        22           1     1
257  423    211    212   sqrt(1/2)        22           1     1
258  423    212    211   sqrt(1/2)        22           1     1
259  424    212    212     sqrt(1)        22           1     1

[208 rows x 7 columns]

In [70]:
(df_describe.multiplet == '11') | (df_describe.multiplet == '30')

0     True
1     True
2    False
3     True
4    False
5    False
Name: multiplet, dtype: bool

## TO DO
1. Es necesario agregar una columna a df original indicando si es simétrico o antisimétrico

In [65]:
df.loc[(df['multiplet']=='11')&(df['degeneracy']==1)]

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy  dtot
58   100    100    111   -sqrt(1/4)        11           1     2
59   101    101    111   -sqrt(1/4)        11           1     2
60   100    100    201  -sqrt(1/12)        11           1     2
61   100    101    200    sqrt(1/6)        11           1     2
62   101    100    202   -sqrt(1/6)        11           1     2
63   101    101    201   sqrt(1/12)        11           1     2
64   100    111    100    sqrt(1/4)        11           1     2
65   101    111    101    sqrt(1/4)        11           1     2
66   100    200    101   -sqrt(1/6)        11           1     2
67   100    201    100   sqrt(1/12)        11           1     2
68   101    201    101  -sqrt(1/12)        11           1     2
69   101    202    100    sqrt(1/6)        11           1     2
70   111    100    212   -sqrt(1/4)        11           1     2
71   111    101    211    sqrt(1/4)        11           1     2
72   111    111    111      sqrt(0)        11           1     2
73   111    200    202      sqrt(0)        11           1     2
74   111    201    201      sqrt(0)        11           1     2
75   111    202    200      sqrt(0)        11           1     2
76   111    211    101   -sqrt(1/4)        11           1     2
77   111    212    100    sqrt(1/4)        11           1     2
78   200    100    211   -sqrt(1/6)        11           1     2
79   201    100    212  -sqrt(1/12)        11           1     2
80   201    101    211  -sqrt(1/12)        11           1     2
81   202    101    212   -sqrt(1/6)        11           1     2
82   200    111    200      sqrt(0)        11           1     2
83   201    111    201      sqrt(0)        11           1     2
84   202    111    202      sqrt(0)        11           1     2
85   200    200    111      sqrt(0)        11           1     2
86   201    201    111      sqrt(0)        11           1     2
87   202    202    111      sqrt(0)        11           1     2
88   200    200    201   -sqrt(1/3)        11           1     2
89   200    201    200    sqrt(1/3)        11           1     2
90   201    200    202   -sqrt(1/3)        11           1     2
91   201    201    201      sqrt(0)        11           1     2
92   201    202    200    sqrt(1/3)        11           1     2
93   202    201    202   -sqrt(1/3)        11           1     2
94   202    202    201    sqrt(1/3)        11           1     2
95   200    211    100    sqrt(1/6)        11           1     2
96   201    211    101   sqrt(1/12)        11           1     2
97   201    212    100   sqrt(1/12)        11           1     2
98   202    212    101    sqrt(1/6)        11           1     2
99   211    111    211   -sqrt(1/4)        11           1     2
100  212    111    212   -sqrt(1/4)        11           1     2
101  211    200    212   -sqrt(1/6)        11           1     2
102  211    201    211   sqrt(1/12)        11           1     2
103  212    201    212  -sqrt(1/12)        11           1     2
104  212    202    211    sqrt(1/6)        11           1     2
105  211    211    111    sqrt(1/4)        11           1     2
106  212    212    111    sqrt(1/4)        11           1     2
107  211    211    201  -sqrt(1/12)        11           1     2
108  211    212    200    sqrt(1/6)        11           1     2
109  212    211    202   -sqrt(1/6)        11           1     2
110  212    212    201   sqrt(1/12)        11           1     2

Otra forma de buscar un valor dentro de una columna de un df es:
~~~
df[df['multiplet'].str.contains('00')]
~~~