In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
df = pd.read_csv('8x8to27.txt', sep = ' ', skiprows=1, header=None)
df

    0   1   2   3        4  5        6  7        8  9           10
0  NaN NaN NaN NaN  (2,0,0)  :  (1,0,0)  x  (1,0,0)  =     sqrt(1)
1  NaN NaN NaN NaN  (2,0,1)  :  (1,0,0)  x  (1,0,1)  =   sqrt(1/2)
2  NaN NaN NaN NaN  (2,0,1)  :  (1,0,1)  x  (1,0,0)  =   sqrt(1/2)
3  NaN NaN NaN NaN  (2,0,2)  :  (1,0,1)  x  (1,0,1)  =     sqrt(1)
4  NaN NaN NaN NaN  (2,1,1)  :  (1,0,0)  x  (1,1,1)  =  sqrt(9/20)
..  ..  ..  ..  ..      ... ..      ... ..      ... ..         ...
89 NaN NaN NaN NaN  (4,1,4)  :  (2,1,2)  x  (2,0,2)  =   sqrt(1/2)
90 NaN NaN NaN NaN  (4,2,2)  :  (2,1,1)  x  (2,1,1)  =     sqrt(1)
91 NaN NaN NaN NaN  (4,2,3)  :  (2,1,1)  x  (2,1,2)  =   sqrt(1/2)
92 NaN NaN NaN NaN  (4,2,3)  :  (2,1,2)  x  (2,1,1)  =   sqrt(1/2)
93 NaN NaN NaN NaN  (4,2,4)  :  (2,1,2)  x  (2,1,2)  =     sqrt(1)

[94 rows x 11 columns]

In [4]:
df.iloc[:,10][1]

'sqrt(1/2)'

In [5]:
from sympy import *

In [6]:
y = df.iloc[:,10][1]
y

'sqrt(1/2)'

Para convertir texto a objeto sympy:

In [18]:
a = parse_expr(y, evaluate=0)
a

sqrt(2)/2

In [7]:
df1 = pd.read_fwf('8x8to27.txt', sep = ' ', skiprows=1, header=None)
df1

          0    1        2    3        4    5           6
0   (2,0,0)    :  (1,0,0)    x  (1,0,0)    =     sqrt(1)
1   (2,0,1)    :  (1,0,0)    x  (1,0,1)    =   sqrt(1/2)
2   (2,0,1)    :  (1,0,1)    x  (1,0,0)    =   sqrt(1/2)
3   (2,0,2)    :  (1,0,1)    x  (1,0,1)    =     sqrt(1)
4   (2,1,1)    :  (1,0,0)    x  (1,1,1)    =  sqrt(9/20)
..      ...  ...      ...  ...      ...  ...         ...
90  (4,2,2)    :  (2,1,1)    x  (2,1,1)    =     sqrt(1)
91  (4,2,3)    :  (2,1,1)    x  (2,1,2)    =   sqrt(1/2)
92  (4,2,3)    :  (2,1,2)    x  (2,1,1)    =   sqrt(1/2)
93  (4,2,4)    :  (2,1,2)    x  (2,1,2)    =     sqrt(1)
94      NaN  NaN      NaN  NaN      NaN  NaN         NaN

[95 rows x 7 columns]

In [ ]:
"""depurar el archivo de datos de MG5 a un archivo donde queden únicamente los datos"""
import csv
#archivo original
nombre_archivo_lhe= '8x8_.txt'  #Escoger el archivo de eventos generado por Madgraph5
lst = open(nombre_archivo_lhe, "r").readlines()

#archivo de salida
nombre_archivo_csv= '8x8df.csv'    #Dar nombre al archivo de datos, cambiar LO y NLO

contador = 0
evento = 0
bandera_evento = 0

with open(nombre_archivo_csv, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow( ['1','2','3','4','5','6','7','8','9','10','11','12','13','14'])
    for linea in lst :
        if linea.find("<event>") == 0 :
            bandera_evento = 1
            evento = evento  + 1
        else :
            bandera_evento = 0
 
        if bandera_evento == 1  :
            dato_evento=( str(lst[contador+1])  ) .split()
            for num_particula in range( int(dato_evento[0]) ) :
                writer.writerow(  (str(evento) + str(lst[contador+num_particula+2])  ) .split()  )                
        contador = contador + 1