In [1]:
import pandas as pd
import numpy as np
import math

In [4]:
from sympy import *

In [167]:
# Se importa el archivo
df = pd.read_csv('8x8comp.txt', skiprows=4, header=None)

# Se agregan las cabeceras de las columnas
df.columns = ['klm', 'k1l1m1', 'k2l2m2', 'cg_coef', 'multiplet', 'degeneracy']

# Se eliminan las filas con valores NaN
df = df.dropna()

# Convierte la columna "degeneracy" en tipo int
df = df.astype({"degeneracy":int})

In [168]:
df.loc[0:9]

   klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy
0  000    100    212   sqrt(1/8)        00           1
1  000    101    211  -sqrt(1/8)        00           1
2  000    111    111  -sqrt(1/8)        00           1
3  000    200    202   sqrt(1/8)        00           1
4  000    201    201  -sqrt(1/8)        00           1
5  000    202    200   sqrt(1/8)        00           1
6  000    211    101  -sqrt(1/8)        00           1
7  000    212    100   sqrt(1/8)        00           1
9  300    100    200  -sqrt(1/2)        03           1

Si se quisiera eliminar columnas con dropna: df.dropna(axis='name of the axis'/'all')

Para convertir texto a objeto sympy:

In [169]:
y = df.iloc[1,3]
y

'-sqrt(1/8)'

In [170]:
a = parse_expr(y, evaluate=0)
a

-sqrt(2)/4

In [171]:
d = 1
df.query('degeneracy == @d')

     klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy
0    000    100    212   sqrt(1/8)        00           1
1    000    101    211  -sqrt(1/8)        00           1
2    000    111    111  -sqrt(1/8)        00           1
3    000    200    202   sqrt(1/8)        00           1
4    000    201    201  -sqrt(1/8)        00           1
..   ...    ...    ...         ...       ...         ...
303  301    211    201  -sqrt(1/3)        30           1
304  301    212    200  -sqrt(1/6)        30           1
305  302    211    202  -sqrt(1/6)        30           1
306  302    212    201  -sqrt(1/3)        30           1
307  303    212    202  -sqrt(1/2)        30           1

[196 rows x 6 columns]

In [172]:
filter1 = df['klm'] == '300'
df[filter1]

     klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy
9    300    100    200  -sqrt(1/2)        03           1
15   300    200    100   sqrt(1/2)        03           1
190  300    100    200   sqrt(1/2)        22           1
196  300    200    100   sqrt(1/2)        22           1
296  300    200    211   sqrt(1/2)        30           1
302  300    211    200  -sqrt(1/2)        30           1

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302 entries, 0 to 307
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   klm         302 non-null    object
 1   k1l1m1      302 non-null    object
 2   k2l2m2      302 non-null    object
 3   cg_coef     302 non-null    object
 4   multiplet   302 non-null    object
 5   degeneracy  302 non-null    int64
dtypes: int64(1), object(5)
memory usage: 26.5+ KB

### TO DO 
1. Crear una función que verifique la simetría y devuelva los valores de "multiplet" y "degeneracy"
2. Crear una función que calcule los coeficientes de cg mediante búsquedas en el data frame

In [192]:
# Función para separar el dataframe en multipletes
def take_multiplet(multiplet_i, dataf):
    df_multiplet = dataf[dataf["multiplet"] == multiplet_i]
    return df_multiplet

In [193]:
multiplets = df['multiplet'].value_counts().index.tolist() # Retorna los multipletes existentes

# Retorna solo las filas con el multiplete indicado en la función
take_multiplet(multiplets[0], df)

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy
58   100    100    111   -sqrt(1/4)        11           2
59   101    101    111   -sqrt(1/4)        11           2
60   100    100    201  -sqrt(1/12)        11           2
61   100    101    200    sqrt(1/6)        11           2
62   101    100    202   -sqrt(1/6)        11           2
..   ...    ...    ...          ...       ...         ...
160  212    212    111  -sqrt(1/20)        11           2
161  211    211    201  -sqrt(3/20)        11           2
162  211    212    200   sqrt(3/10)        11           2
163  212    211    202  -sqrt(3/10)        11           2
164  212    212    201   sqrt(3/20)        11           2

[106 rows x 6 columns]

In [175]:
multiplets[0]

'11'

In [179]:
is_11 = df.loc[:,'multiplet'] == '11'
df_11 = df.loc[is_11]
df_11.head()

    klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy
58  100    100    111   -sqrt(1/4)        11           2
59  101    101    111   -sqrt(1/4)        11           2
60  100    100    201  -sqrt(1/12)        11           2
61  100    101    200    sqrt(1/6)        11           2
62  101    100    202   -sqrt(1/6)        11           2

In [186]:
multiplets = df['multiplet'].value_counts().index.tolist() # Retorna los multipletes existentes
multiplet_df = df[df["multiplet"] == multiplets[0]]
multiplete_df

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy
58   100    100    111   -sqrt(1/4)        11           2
59   101    101    111   -sqrt(1/4)        11           2
60   100    100    201  -sqrt(1/12)        11           2
61   100    101    200    sqrt(1/6)        11           2
62   101    100    202   -sqrt(1/6)        11           2
..   ...    ...    ...          ...       ...         ...
160  212    212    111  -sqrt(1/20)        11           2
161  211    211    201  -sqrt(3/20)        11           2
162  211    212    200   sqrt(3/10)        11           2
163  212    211    202  -sqrt(3/10)        11           2
164  212    212    201   sqrt(3/20)        11           2

[106 rows x 6 columns]