#### Abreviaturas:
- df: data frame
- cg_coef: coeficientes de Clebsch Gordan para SU(3)
- dtot: número de degeneraciones totales

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
# Se importa el archivo
df = pd.read_csv('8x8comp.txt', skiprows=4, header=None)

# Se agregan las cabeceras de las columnas
df.columns = ['klm', 'k1l1m1', 'k2l2m2', 'cg_coef', 'multiplet', 'degeneracy', 'dtot']

# Se eliminan las filas con valores NaN
df = df.dropna()

# Convierte las columnas "degeneracy" y "dtot" en tipo int
df = df.astype({"degeneracy":int})
df = df.astype({"dtot":int})

# Retorna una lista con los multipletes existentes
multiplets = df['multiplet'].value_counts().index.tolist()

In [3]:
# Función para separar el df en multipletes
def divide_df(multiplet_i, dataf, headerc):
    df_multiplet = dataf[dataf[headerc] == multiplet_i]
    return df_multiplet

In [4]:
from sympy import *

In [5]:
# Calcula el cgc para un caso específico dentro de un dfe previamente filtrado
def cgc_md(initial1, initial2, final, ddf):
    dff = ddf.query('k1l1m1 == @initial1').query('k2l2m2 == @initial2').query('klm == @final')
    cgc_str=dff.loc[:,'cg_coef'].values[0]
    cgc = parse_expr(cgc_str, evaluate=0)
    return cgc

# Verifica si el df filtrado es simétrico o antisimétrico
def is_symmetric(sdf):
    p1 = sdf['k1l1m1'].head(1).values[0]
    p2 = sdf['k2l2m2'].head(1).values[0]
    pf = sdf['klm'].head(1).values[0]
    val1 = cgc_md(p1, p2, pf, sdf)
    val2 = cgc_md(p2, p1, pf, sdf)
    if val1 == val2:
        return 'S'
    else:
        return 'A'

In [6]:
Symmetry = []
Multiplets = []
Degeneracy = []
Index = []
for i in range(len(multiplets)):
    # Retorna un df del multiplete indicado en la función
    m = divide_df(multiplets[i], df, 'multiplet')
    
    # Retorna una lista con las degeneraciones del multiplete m
    degeneracy = m['degeneracy'].value_counts().index.tolist()
    
    if len(degeneracy)>1:
        for j in range(len(degeneracy)):
            Multiplets.append(multiplets[i])
            
            # Divide el multiplete en df por degeneraciones
            d = divide_df(degeneracy[j], m, 'degeneracy')
            
            Index.append(d.index)
            Symmetry.append(is_symmetric(d))
            Degeneracy.append(degeneracy[j])
    else:
        Index.append(m.index)
        Multiplets.append(multiplets[i])
        Symmetry.append(is_symmetric(m))
        Degeneracy.append(degeneracy[0])

# Elabora un df para describir cada multiplete
df_describe = pd.DataFrame()
df_describe['multiplet'] = Multiplets
df_describe['degeneracy'] = Degeneracy
df_describe['is_symm'] = Symmetry
df_describe

  multiplet  degeneracy is_symm
0        11           2       S
1        11           1       A
2        22           1       S
3        03           1       A
4        30           1       A
5        00           1       S

In [21]:
df_describe.loc[0, 'is_symm']

'S'

In [11]:
extra =[]
for i in range(df.shape[0]):
    extra.append('x')
extra

['x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x']

In [12]:
df.loc[:,'is_symm']=extra
df

     klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy  dtot is_symm
0    000    100    212   sqrt(1/8)        00           1     1       x
1    000    101    211  -sqrt(1/8)        00           1     1       x
2    000    111    111  -sqrt(1/8)        00           1     1       x
3    000    200    202   sqrt(1/8)        00           1     1       x
4    000    201    201  -sqrt(1/8)        00           1     1       x
..   ...    ...    ...         ...       ...         ...   ...     ...
303  301    211    201  -sqrt(1/3)        30           1     1       x
304  301    212    200  -sqrt(1/6)        30           1     1       x
305  302    211    202  -sqrt(1/6)        30           1     1       x
306  302    212    201  -sqrt(1/3)        30           1     1       x
307  303    212    202  -sqrt(1/2)        30           1     1       x

[302 rows x 8 columns]

In [26]:
for i in range(len(Index)):
    for j in Index[i]:
        df.at[Index[i],'is_symm']=df_describe.loc[i, 'is_symm']
df

     klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy  dtot is_symm
0    000    100    212   sqrt(1/8)        00           1     1       S
1    000    101    211  -sqrt(1/8)        00           1     1       S
2    000    111    111  -sqrt(1/8)        00           1     1       S
3    000    200    202   sqrt(1/8)        00           1     1       S
4    000    201    201  -sqrt(1/8)        00           1     1       S
..   ...    ...    ...         ...       ...         ...   ...     ...
303  301    211    201  -sqrt(1/3)        30           1     1       A
304  301    212    200  -sqrt(1/6)        30           1     1       A
305  302    211    202  -sqrt(1/6)        30           1     1       A
306  302    212    201  -sqrt(1/3)        30           1     1       A
307  303    212    202  -sqrt(1/2)        30           1     1       A

[302 rows x 8 columns]

In [23]:
Index[0]

Int64Index([112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124,
            125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137,
            138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150,
            151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163,
            164],
           dtype='int64')

In [27]:
# Transforma los números cuánticos de una particula de y, i, iz al tipo k, l, m
def transform(particle):
    # Separa una palabra por caracteres y luego convierte cada elemento a entero
    p = int(list('11')[0])
    q = int(list('11')[1])
    
    # Convierte a caracter lo que convirtio en entero
    k = str(int((p+2*q)/3 + particle[0]/2 + particle[1]))
    l = str(int((p+2*q)/3 + particle[0]/2 - particle[1]))
    m = str(int((p+2*q)/3 + particle[0]/2 + particle[2]))
    
    # Une los caracteres klm en una sola cadena
    klm = ''.join([k, l, m])
    return klm

proton = [1, 1/2, 1/2]
Dp = [1, 1/2, 1/2]
Sigma_mas = [1,0,0]
transform(proton)

'212'

In [28]:
transform(Sigma_mas)

'111'

In [29]:
df.loc[(df['multiplet']=='11')&(df['is_symm']=='A')]
df.loc[df['multiplet']=='11']

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy  dtot is_symm
58   100    100    111   -sqrt(1/4)        11           1     2       A
59   101    101    111   -sqrt(1/4)        11           1     2       A
60   100    100    201  -sqrt(1/12)        11           1     2       A
61   100    101    200    sqrt(1/6)        11           1     2       A
62   101    100    202   -sqrt(1/6)        11           1     2       A
..   ...    ...    ...          ...       ...         ...   ...     ...
160  212    212    111  -sqrt(1/20)        11           2     2       S
161  211    211    201  -sqrt(3/20)        11           2     2       S
162  211    212    200   sqrt(3/10)        11           2     2       S
163  212    211    202  -sqrt(3/10)        11           2     2       S
164  212    212    201   sqrt(3/20)        11           2     2       S

[106 rows x 8 columns]

In [30]:
df.loc[(df['multiplet']=='11')&(df['klm']=='212')&(df['is_symm']=='S')]

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy  dtot is_symm
154  212    111    212  -sqrt(1/20)        11           2     2       S
157  212    201    212   sqrt(3/20)        11           2     2       S
158  212    202    211  -sqrt(3/10)        11           2     2       S
160  212    212    111  -sqrt(1/20)        11           2     2       S
163  212    211    202  -sqrt(3/10)        11           2     2       S
164  212    212    201   sqrt(3/20)        11           2     2       S

In [31]:
df.loc[(df['klm']=='211')&(df['k1l1m1']=='111')&(df['k2l2m2']=='100')]

     klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy  dtot is_symm
176  211    111    100  sqrt(9/20)        22           1     1       S

## TO DO
1. Empezar a formar la matriz de coeficientes de decaimiento con el algoritmo

Otra forma de buscar un valor dentro de una columna de un df es:
~~~
df[df['multiplet'].str.contains('00')]
~~~

In [32]:
df.loc[(df['multiplet']=='11')&(df['klm']=='212')&(df['is_symm']=='S')]

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy  dtot is_symm
154  212    111    212  -sqrt(1/20)        11           2     2       S
157  212    201    212   sqrt(3/20)        11           2     2       S
158  212    202    211  -sqrt(3/10)        11           2     2       S
160  212    212    111  -sqrt(1/20)        11           2     2       S
163  212    211    202  -sqrt(3/10)        11           2     2       S
164  212    212    201   sqrt(3/20)        11           2     2       S

In [33]:
df.loc[(df['klm']=='212')&(df['k1l1m1']=='111')&(df['k2l2m2']=='212')&(df['is_symm']=='S')]

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy  dtot is_symm
154  212    111    212  -sqrt(1/20)        11           2     2       S