In [1]:
import pandas as pd
import numpy as np
import math

In [4]:
from sympy import *

In [198]:
# Se importa el archivo
df = pd.read_csv('8x8comp.txt', skiprows=4, header=None)

# Se agregan las cabeceras de las columnas
df.columns = ['klm', 'k1l1m1', 'k2l2m2', 'cg_coef', 'multiplet', 'degeneracy']

# Se eliminan las filas con valores NaN
df = df.dropna()

# Convierte la columna "degeneracy" en tipo int
df = df.astype({"degeneracy":int})

In [199]:
df.loc[0:9]

   klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy
0  000    100    212   sqrt(1/8)        00           1
1  000    101    211  -sqrt(1/8)        00           1
2  000    111    111  -sqrt(1/8)        00           1
3  000    200    202   sqrt(1/8)        00           1
4  000    201    201  -sqrt(1/8)        00           1
5  000    202    200   sqrt(1/8)        00           1
6  000    211    101  -sqrt(1/8)        00           1
7  000    212    100   sqrt(1/8)        00           1
9  300    100    200  -sqrt(1/2)        03           1

Si se quisiera eliminar columnas con dropna: 
~~~
df.dropna(axis='name of the axis'/'all')
~~~

Para convertir texto a objeto sympy:

In [169]:
y = df.iloc[1,3]
y

'-sqrt(1/8)'

In [170]:
a = parse_expr(y, evaluate=0)
a

-sqrt(2)/4

Otra opción para búsqueda en el data frame:
~~~
d = '11'

df.query('multiplet == @d')
~~~
o
~~~
filter1 = df['klm'] == '300'
df[filter1]
~~~
ó
~~~
is_11 = df.loc[:,'multiplet'] == '11'
df_11 = df.loc[is_11]
df_11.head()
~~~

In [219]:
initial1 = '100'
dfi1 = df.query('k1l1m1 == @initial1')
initial2 = '212'
dfi2 = dfi1.query('k2l2m2 == @initial2')
dfi2
final = '312'
dff = dfi2.query('klm == @final')
dff
multipletd = '03'
dfm = dff.query('multiplet == @multipletd')
dfm

    klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy
22  312    100    212  -sqrt(1/12)        03           1

### TO DO 
1. Crear una función que verifique la simetría y devuelva los valores de "multiplet" y "degeneracy"
2. Crear una función que calcule los coeficientes de cg mediante búsquedas en el data frame

In [200]:
# Función para separar el dataframe en multipletes
def take_multiplet(multiplet_i, dataf):
    df_multiplet = dataf[dataf["multiplet"] == multiplet_i]
    return df_multiplet

In [201]:
multiplets = df['multiplet'].value_counts().index.tolist() # Retorna los multipletes existentes

# Retorna solo las filas con el multiplete indicado en la función
m = take_multiplet(multiplets[0], df)

In [207]:
degeneracy = m['degeneracy'].value_counts().index.tolist()
degeneracy

[2, 1]