#### Abreviaturas:
- df: data frame
- cg_coef: coeficientes de Clebsch Gordan para SU(3)
- dtot: número de degeneraciones totales

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
# Se importa el archivo
df = pd.read_csv('8x8comp.txt', skiprows=4, header=None)

# Se agregan las cabeceras de las columnas
df.columns = ['k', 'l', 'm', 'k1', 'l1', 'm1', 'k2', 'l2', 'm2', 'cg_coef', 'p', 'q', 'degeneracy', 'dtot']

# Se eliminan las filas con valores NaN
df = df.dropna()

# Convierte todas las columnas a tipo int con excepción de "cg_doef"
df = df.astype({"degeneracy":int, "dtot":int})
df.iloc[:,list(range(0,9))]=df.iloc[:,list(range(0,9))].astype(int)
df[['p', 'q']] = df[['p', 'q']].astype(int)

# Retorna un arreglo de arreglos de números p,q representando los multipletes existentes
multiplets = df[['p','q']].drop_duplicates().values
df

     k  l  m  k1  l1  m1  k2  l2  m2     cg_coef  p  q  degeneracy  dtot
0    0  0  0   1   0   0   2   1   2   sqrt(1/8)  0  0           1     1
1    0  0  0   1   0   1   2   1   1  -sqrt(1/8)  0  0           1     1
2    0  0  0   1   1   1   1   1   1  -sqrt(1/8)  0  0           1     1
3    0  0  0   2   0   0   2   0   2   sqrt(1/8)  0  0           1     1
4    0  0  0   2   0   1   2   0   1  -sqrt(1/8)  0  0           1     1
..  .. .. ..  ..  ..  ..  ..  ..  ..         ... .. ..         ...   ...
303  3  0  1   2   1   1   2   0   1  -sqrt(1/3)  3  0           1     1
304  3  0  1   2   1   2   2   0   0  -sqrt(1/6)  3  0           1     1
305  3  0  2   2   1   1   2   0   2  -sqrt(1/6)  3  0           1     1
306  3  0  2   2   1   2   2   0   1  -sqrt(1/3)  3  0           1     1
307  3  0  3   2   1   2   2   0   2  -sqrt(1/2)  3  0           1     1

[302 rows x 14 columns]

In [3]:
multiplets

array([[0, 0],
       [0, 3],
       [1, 1],
       [2, 2],
       [3, 0]])

In [4]:
len(multiplets)

5

In [5]:
multiplets[0]

array([0, 0])

In [6]:
i=2
df_test=df.loc[(df['p']==multiplets[i,0])&(df['q']==multiplets[i,1])]
df_test

     k  l  m  k1  l1  m1  k2  l2  m2      cg_coef  p  q  degeneracy  dtot
58   1  0  0   1   0   0   1   1   1   -sqrt(1/4)  1  1           1     2
59   1  0  1   1   0   1   1   1   1   -sqrt(1/4)  1  1           1     2
60   1  0  0   1   0   0   2   0   1  -sqrt(1/12)  1  1           1     2
61   1  0  0   1   0   1   2   0   0    sqrt(1/6)  1  1           1     2
62   1  0  1   1   0   0   2   0   2   -sqrt(1/6)  1  1           1     2
..  .. .. ..  ..  ..  ..  ..  ..  ..          ... .. ..         ...   ...
160  2  1  2   2   1   2   1   1   1  -sqrt(1/20)  1  1           2     2
161  2  1  1   2   1   1   2   0   1  -sqrt(3/20)  1  1           2     2
162  2  1  1   2   1   2   2   0   0   sqrt(3/10)  1  1           2     2
163  2  1  2   2   1   1   2   0   2  -sqrt(3/10)  1  1           2     2
164  2  1  2   2   1   2   2   0   1   sqrt(3/20)  1  1           2     2

[106 rows x 14 columns]

In [45]:
deg = df_test['degeneracy'].value_counts().index.tolist()
deg

[2, 1]

In [46]:
deg1 = df_test.loc[df['degeneracy']==deg[1]]
deg1

     k  l  m  k1  l1  m1  k2  l2  m2      cg_coef  p  q  degeneracy  dtot
58   1  0  0   1   0   0   1   1   1   -sqrt(1/4)  1  1           1     2
59   1  0  1   1   0   1   1   1   1   -sqrt(1/4)  1  1           1     2
60   1  0  0   1   0   0   2   0   1  -sqrt(1/12)  1  1           1     2
61   1  0  0   1   0   1   2   0   0    sqrt(1/6)  1  1           1     2
62   1  0  1   1   0   0   2   0   2   -sqrt(1/6)  1  1           1     2
63   1  0  1   1   0   1   2   0   1   sqrt(1/12)  1  1           1     2
64   1  0  0   1   1   1   1   0   0    sqrt(1/4)  1  1           1     2
65   1  0  1   1   1   1   1   0   1    sqrt(1/4)  1  1           1     2
66   1  0  0   2   0   0   1   0   1   -sqrt(1/6)  1  1           1     2
67   1  0  0   2   0   1   1   0   0   sqrt(1/12)  1  1           1     2
68   1  0  1   2   0   1   1   0   1  -sqrt(1/12)  1  1           1     2
69   1  0  1   2   0   2   1   0   0    sqrt(1/6)  1  1           1     2
70   1  1  1   1   0   0   2   1   2   -sqrt(1/4)  1  1           1     2
71   1  1  1   1   0   1   2   1   1    sqrt(1/4)  1  1           1     2
72   1  1  1   1   1   1   1   1   1      sqrt(0)  1  1           1     2
73   1  1  1   2   0   0   2   0   2      sqrt(0)  1  1           1     2
74   1  1  1   2   0   1   2   0   1      sqrt(0)  1  1           1     2
75   1  1  1   2   0   2   2   0   0      sqrt(0)  1  1           1     2
76   1  1  1   2   1   1   1   0   1   -sqrt(1/4)  1  1           1     2
77   1  1  1   2   1   2   1   0   0    sqrt(1/4)  1  1           1     2
78   2  0  0   1   0   0   2   1   1   -sqrt(1/6)  1  1           1     2
79   2  0  1   1   0   0   2   1   2  -sqrt(1/12)  1  1           1     2
80   2  0  1   1   0   1   2   1   1  -sqrt(1/12)  1  1           1     2
81   2  0  2   1   0   1   2   1   2   -sqrt(1/6)  1  1           1     2
82   2  0  0   1   1   1   2   0   0      sqrt(0)  1  1           1     2
83   2  0  1   1   1   1   2   0   1      sqrt(0)  1  1           1     2
84   2  0  2   1   1   1   2   0   2      sqrt(0)  1  1           1     2
85   2  0  0   2   0   0   1   1   1      sqrt(0)  1  1           1     2
86   2  0  1   2   0   1   1   1   1      sqrt(0)  1  1           1     2
87   2  0  2   2   0   2   1   1   1      sqrt(0)  1  1           1     2
88   2  0  0   2   0   0   2   0   1   -sqrt(1/3)  1  1           1     2
89   2  0  0   2   0   1   2   0   0    sqrt(1/3)  1  1           1     2
90   2  0  1   2   0   0   2   0   2   -sqrt(1/3)  1  1           1     2
91   2  0  1   2   0   1   2   0   1      sqrt(0)  1  1           1     2
92   2  0  1   2   0   2   2   0   0    sqrt(1/3)  1  1           1     2
93   2  0  2   2   0   1   2   0   2   -sqrt(1/3)  1  1           1     2
94   2  0  2   2   0   2   2   0   1    sqrt(1/3)  1  1           1     2
95   2  0  0   2   1   1   1   0   0    sqrt(1/6)  1  1           1     2
96   2  0  1   2   1   1   1   0   1   sqrt(1/12)  1  1           1     2
97   2  0  1   2   1   2   1   0   0   sqrt(1/12)  1  1           1     2
98   2  0  2   2   1   2   1   0   1    sqrt(1/6)  1  1           1     2
99   2  1  1   1   1   1   2   1   1   -sqrt(1/4)  1  1           1     2
100  2  1  2   1   1   1   2   1   2   -sqrt(1/4)  1  1           1     2
101  2  1  1   2   0   0   2   1   2   -sqrt(1/6)  1  1           1     2
102  2  1  1   2   0   1   2   1   1   sqrt(1/12)  1  1           1     2
103  2  1  2   2   0   1   2   1   2  -sqrt(1/12)  1  1           1     2
104  2  1  2   2   0   2   2   1   1    sqrt(1/6)  1  1           1     2
105  2  1  1   2   1   1   1   1   1    sqrt(1/4)  1  1           1     2
106  2  1  2   2   1   2   1   1   1    sqrt(1/4)  1  1           1     2
107  2  1  1   2   1   1   2   0   1  -sqrt(1/12)  1  1           1     2
108  2  1  1   2   1   2   2   0   0    sqrt(1/6)  1  1           1     2
109  2  1  2   2   1   1   2   0   2   -sqrt(1/6)  1  1           1     2
110  2  1  2   2   1   2   2   0   1   sqrt(1/12)  1  1           1     2

In [17]:
final, initial1, initial2 = [1, 0, 0], [1, 1, 1], [1, 0, 0]
dff = deg1.loc[(df['k1']==initial1[0])&(df['l1']==initial1[1])&(df['m1']==initial1[2])]
dff = dff.loc[(df['k2']==initial2[0])&(df['l2']==initial2[1])&(df['m2']==initial2[2])]
dff = dff.loc[(df['k']==final[0])&(df['l']==final[1])&(df['m']==final[2])]
cgc_str = dff.loc[:,'cg_coef'].values[0]
parse_expr(cgc_str, evaluate=0)

-sqrt(5)/10

In [128]:
deg1.loc[(df['k1']==initial1[0])&(df['l1']==initial1[1])&(df['m1']==initial1[2])].head(1).values[0]

array([1, 0, 0, 1, 1, 1, 1, 0, 0, '-sqrt(1/20)', 1, 1, 2, 2], dtype=object)

In [129]:
deg1[['k1','l1','m1']].head(1).values[0]

array([1, 0, 0])

In [130]:
a=0
b=0
c=1
x = [a, b, c]
x

[0, 0, 1]

In [ ]:
# Función para separar el df en multipletes
def divide_df(pp, qq, dataf, headerp):
    df_multiplet = dataf[dataf[headerc] == multiplet_i]
    return df_multiplet

In [10]:
from sympy import *

In [11]:
# Calcula el cgc para un caso específico dentro de un df previamente filtrado
def cgc_md(initial1, initial2, final, ddf):
    dff = ddf.loc[(df['k1']==initial1[0])&(df['l1']==initial1[1])&(df['m1']==initial1[2])]
    dff = dff.loc[(df['k2']==initial2[0])&(df['l2']==initial2[1])&(df['m2']==initial2[2])]
    dff = dff.loc[(df['k']==final[0])&(df['l']==final[1])&(df['m']==final[2])]

    cgc_str=dff.loc[:,'cg_coef'].values[0]
    cgc = parse_expr(cgc_str, evaluate=0)
    return cgc

# Verifica si el df filtrado es simétrico o antisimétrico
def is_symmetric(sdf):
    p1 = sdf[['k1','l1','m1']].head(1).values[0]
    p2 = sdf[['k2','l2', 'm2']].head(1).values[0]
    pf = sdf[['k', 'l', 'm']].head(1).values[0]
    val1 = cgc_md(p1, p2, pf, sdf)
    val2 = cgc_md(p2, p1, pf, sdf)
    if val1 == val2:
        return 'S'
    else:
        return 'A'

In [47]:
is_symmetric(deg1)

'A'

In [48]:
Symmetry = []
Multiplets = [] 
Degeneracy = []
Index = []
for i in range(len(multiplets)):
    # Retorna un df del multiplete indicado en la función
    m = df.loc[(df['p']==multiplets[i,0])&(df['q']==multiplets[i,1])]
    
    # Retorna una lista con las degeneraciones del multiplete m
    degeneracy = m['degeneracy'].value_counts().index.tolist()
    if len(degeneracy)>1:
        for j in range(len(degeneracy)):
            Multiplets.append([multiplets[i,0], multiplets[i,1]])
            
            # Divide el multiplete en df por degeneraciones
            d = m.loc[df['degeneracy']==degeneracy[j]]
            
            Index.append(d.index)
            Symmetry.append(is_symmetric(d))
            Degeneracy.append(degeneracy[j])
    else:
        Index.append(m.index)
        Multiplets.append([multiplets[i,0], multiplets[i,1]])
        Symmetry.append(is_symmetric(m))
        Degeneracy.append(degeneracy[0])

MultipletsA = np.array(Multiplets)

In [49]:
MultipletsA

array([[0, 0],
       [0, 3],
       [1, 1],
       [1, 1],
       [2, 2],
       [3, 0]])

In [50]:
# Elabora un df para describir cada multiplete
df_describe = pd.DataFrame()
df_describe['p'] = MultipletsA[:,0]
df_describe['q'] = MultipletsA[:,1]
df_describe['degeneracy'] = Degeneracy
df_describe['is_symm'] = Symmetry
df_describe

   p  q  degeneracy is_symm
0  0  0           1       S
1  0  3           1       A
2  1  1           2       S
3  1  1           1       A
4  2  2           1       S
5  3  0           1       A

In [51]:
for i in range(len(Index)):
    print(len(Index[i]))

8
47
53
53
94
47

In [52]:
8+47+53+53+94+47

302

Para extraser los valores de la columna del multiplete usar:
~~~
df_describe['multiplet'].values #array
multiplets #lista
~~~

In [54]:
# Agrega una columna extra al df original
extra =[]
for i in range(df.shape[0]):
    extra.append('x')
df.loc[:,'is_symm']=extra
# Asigna correctamente la característica si es simétrico o antisimétrico
for i in range(len(Index)):
    for j in Index[i]:
        df.at[Index[i],'is_symm']=df_describe.loc[i, 'is_symm']
df

,k,l,m,k1,l1,m1,k2,l2,m2,cg_coef,p,q,degeneracy,dtot,is_symm
0,0,0,0,1,0,0,2,1,2,sqrt(1/8),0,0,1,1,S
1,0,0,0,1,0,1,2,1,1,-sqrt(1/8),0,0,1,1,S
2,0,0,0,1,1,1,1,1,1,-sqrt(1/8),0,0,1,1,S
3,0,0,0,2,0,0,2,0,2,sqrt(1/8),0,0,1,1,S
4,0,0,0,2,0,1,2,0,1,-sqrt(1/8),0,0,1,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,3,0,1,2,1,1,2,0,1,-sqrt(1/3),3,0,1,1,A
304,3,0,1,2,1,2,2,0,0,-sqrt(1/6),3,0,1,1,A
305,3,0,2,2,1,1,2,0,2,-sqrt(1/6),3,0,1,1,A
306,3,0,2,2,1,2,2,0,1,-sqrt(1/3),3,0,1,1,A
307,3,0,3,2,1,2,2,0,2,-sqrt(1/2),3,0,1,1,A

In [55]:
df.loc[0:8]

   k  l  m  k1  l1  m1  k2  l2  m2     cg_coef  p  q  degeneracy  dtot is_symm
0  0  0  0   1   0   0   2   1   2   sqrt(1/8)  0  0           1     1       S
1  0  0  0   1   0   1   2   1   1  -sqrt(1/8)  0  0           1     1       S
2  0  0  0   1   1   1   1   1   1  -sqrt(1/8)  0  0           1     1       S
3  0  0  0   2   0   0   2   0   2   sqrt(1/8)  0  0           1     1       S
4  0  0  0   2   0   1   2   0   1  -sqrt(1/8)  0  0           1     1       S
5  0  0  0   2   0   2   2   0   0   sqrt(1/8)  0  0           1     1       S
6  0  0  0   2   1   1   1   0   1  -sqrt(1/8)  0  0           1     1       S
7  0  0  0   2   1   2   1   0   0   sqrt(1/8)  0  0           1     1       S

### Algoritmo para el cálculo de coeficientes

#### Abrebiaciones
- I Isoespín
- Y Hipercarga
- I3 Tercera componente de Isoespín

In [10]:
df.loc[(df['multiplet']=='11')&(df['klm']=='212')&(df['is_symm']=='S')]

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy  dtot is_symm
154  212    111    212  -sqrt(1/20)        11           2     2       S
157  212    201    212   sqrt(3/20)        11           2     2       S
158  212    202    211  -sqrt(3/10)        11           2     2       S
160  212    212    111  -sqrt(1/20)        11           2     2       S
163  212    211    202  -sqrt(3/10)        11           2     2       S
164  212    212    201   sqrt(3/20)        11           2     2       S

In [11]:
df.loc[(df['klm']=='211')&(df['k1l1m1']=='111')&(df['k2l2m2']=='100')]

     klm k1l1m1 k2l2m2     cg_coef multiplet  degeneracy  dtot is_symm
176  211    111    100  sqrt(9/20)        22           1     1       S

In [12]:
df.loc[(df['multiplet']=='11')&(df['klm']=='212')&(df['is_symm']=='S')]

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy  dtot is_symm
154  212    111    212  -sqrt(1/20)        11           2     2       S
157  212    201    212   sqrt(3/20)        11           2     2       S
158  212    202    211  -sqrt(3/10)        11           2     2       S
160  212    212    111  -sqrt(1/20)        11           2     2       S
163  212    211    202  -sqrt(3/10)        11           2     2       S
164  212    212    201   sqrt(3/20)        11           2     2       S

In [13]:
df.loc[(df['klm']=='212')&(df['k1l1m1']=='111')&(df['k2l2m2']=='212')&(df['is_symm']=='S')]

     klm k1l1m1 k2l2m2      cg_coef multiplet  degeneracy  dtot is_symm
154  212    111    212  -sqrt(1/20)        11           2     2       S

## TO DO
1. Empezar a formar la matriz de coeficientes de decaimiento con el algoritmo
2. Dp_lambda_p = [cgc(klm, k1l1m1, k2l2m2, octete, S)]

Otra forma de buscar un valor dentro de una columna de un df es:
~~~
df[df['multiplet'].str.contains('00')]
~~~

In [19]:
x=Symbol('x')
d1 = [sqrt(2)*4, x**2/x, Rational(3,4), 'nombre_decaimiento']

In [20]:
Matrix([d1[0:3]])

Matrix([[4*sqrt(2), x, 3/4]])

In [21]:
e = Matrix([1,1])
e1 = Matrix([1,1])
e2 = Matrix([1,1])

In [22]:
dimension = (1+e[0])*(1+e[1])*(2+sum(e))/2
if e[0]<e[1]:
    print('dimension ', dimension, '*')
else:
    print('dimension ', dimension)
Imax = (e[0]+e[1])/2
print('Imax ', Imax)
Ymax = (e[0]-e[1])/3
print('Ymax ', Ymax)
Range = 2*Imax +1
print('Range ', Range)

dimension  8
Imax  1
Ymax  0
Range  3

In [23]:
# Retorna las degeneraciones de SU(2) dado un valor de I
def dec_su2(nmax):
    row = []
    
    rowImax = nmax
    size_m = 2*nmax + 1
    for i in range(size_m):
        row.insert(0,nmax)
        nmax = nmax -1
    return row

# Retorna el grupo de partículas pertenecientes al nivel solicitado
def level_particles(level):
    # Retorna la lista de la linea más larga en todo el multiplete
    I3max_line = dec_su2(Imax) # es una lista

    subIsospin3 = []
    subIsospin = []
    subHipercharge = []
    
    # Delimita los valores máximos y mínimos por nivel horizontal
    a = level-1
    b = len(I3max_line)-level + 1
    subIsospin3.append(I3max_line[a:b])
    Imax_line = I3max_line[b-1] # es un número
    list_subI = []
    list_subI.append(Imax_line)
    list_subI = list_subI*(b-a)
    subIsospin.append(list_subI)
    subImax = I3max_line[-level]
    list_subY=[]
    list_subY.append(Ymax)
    list_subY = list_subY*(b-a)
    subHipercharge.append(list_subY)
    
    # Recorre sobre la línea vertical hacia abajo formando grupos de partículas
    prow = []
    Inew = subImax
    Yrow1 = []
    Ynew1 = Ymax
    
    for i in range(e[0]-level+1):
        Inew = nsimplify(Inew -1/2)
        prow.append(Inew)
        Ynew1 = nsimplify(Ynew1 - 1)
        Yrow1.append(Ynew1)
    
    for i in range(len(prow)):
        subIsospin3.append(dec_su2(prow[i]))
        
        len_p = len(I3max_line)-i-1
        list_subI = []
        list_subI.append(prow[i])
        list_subI = list_subI*len_p
        subIsospin.append(list_subI)
        
        list_subY=[]
        list_subY.append(Yrow1[i])
        list_subY = list_subY*len_p
        subHipercharge.append(list_subY)
    
    # Recorre sobre la línea vertical hacia arriba formando grupos de partículas
    qrow = []
    Inew2 = subImax
    Yrow2 = []
    Ynew2 = Ymax
    for i in range(e[1]-level+1):
        Inew2 = nsimplify(Inew2 -1/2)
        qrow.insert(i,Inew2)
        Ynew2 = nsimplify(Ynew2 + 1)
        Yrow2.append(Ynew2)
        
    for i in range(len(qrow)):
        
        subIsospin3.insert(0,dec_su2(qrow[i]))
        list_subI = []
        list_subI.append(qrow[i])
        len_q = len(I3max_line)-i-1
        list_subI = list_subI*len_q
        subIsospin.insert(0,list_subI)
        
        list_subY=[]
        list_subY.append(Yrow2[i])
        list_subY = list_subY*len_q
        subHipercharge.insert(0, list_subY)
    
    #print(subIsospin) 
    #print(subHipercharge)
        
    return subHipercharge, subIsospin, subIsospin3

# Retorna el número de partículas en el grupo del nivel solicitado
def count_particles(levelp):
    tot_particles = 0
    for i in range(len(levelp)):
        tot_particles = tot_particles + len(levelp[i])
    return tot_particles

In [24]:
I3 = []
I = []
Y = []
npart = 0
for i in range(dimension):
    level = i+1
    subY, subI, subI3 = level_particles(level)
    npart = npart + count_particles(subI3)
    I3.append(subI3)
    I.append(subI)
    Y.append(subY)
    
    if npart == dimension:
        break
I3

[[[-1/2, 1/2], [-1, 0, 1], [-1/2, 1/2]], [[0]]]

In [25]:
I

[[[1/2, 1/2], [1, 1, 1], [1/2, 1/2]], [[0]]]

In [26]:
Y

[[[1, 1], [0, 0, 0], [-1, -1]], [[0]]]

In [27]:
Y[0][0][0], I[0][0][0], I3[0][0][0]

(1, 1/2, -1/2)

In [28]:
Y[0][1][0], I[0][1][0], I3[0][1][0]

(0, 1, -1)

In [29]:
mB = []
for i in range(len(Y)):
    for j in range(len(Y[i])):
        for k in range(len(Y[i][j])):
            mB.append([Y[i][j][k], I[i][j][k], I3[i][j][k]])
print(mB)

[[1, 1/2, -1/2], [1, 1/2, 1/2], [0, 1, -1], [0, 1, 0], [0, 1, 1], [-1, 1/2, -1/2], [-1, 1/2, 1/2], [0, 0, 0]]

In [30]:
# Transforma los números cuánticos de una particula de y, i, iz al tipo k, l, m
def transform(particle):
    # Separa una palabra por caracteres y luego convierte cada elemento a entero
    p = e[0]
    q = e[1]
    
    # Convierte a caracter lo que convirtio en entero
    k = int((p+2*q)/3 + particle[0]/2 + particle[1])
    l = int((p+2*q)/3 + particle[0]/2 - particle[1])
    m = int((p+2*q)/3 + particle[0]/2 + particle[2])
    #klm = np.array([k, l, m])
    # Une los caracteres klm en una sola cadena
    #klm = ''.join([k, l, m])
    return k,l,m

# Recibe una lista de lista de numeros y, i, iz la cambia a lista de enteros k,l,m
def transform_m(listm):
    list_klm = []
    for i in range(len(listm)):
        list_klm.append(transform(listm[i]))
    array_klm = np.array(list_klm)
    return array_klm

In [31]:
transform(mB[0])

(2, 1, 1)

In [32]:
e0klm = transform_m(mB)
e0klm

array([[2, 1, 1],
       [2, 1, 2],
       [2, 0, 0],
       [2, 0, 1],
       [2, 0, 2],
       [1, 0, 0],
       [1, 0, 1],
       [1, 1, 1]])

In [33]:
e1klm = transform_m(mB)
e2klm = transform_m(mB)

In [108]:
cgc_md([1, 0, 0], [1, 1, 1], [1, 0, 0], deg1)

-1/2

In [160]:
Gm = Matrix([])
count = 0
for i in range(len(e0klm)):
    df10=df.loc[(df['is_symm']=='S')]
    df10=df10.loc[(df['p']==e[0])&(df['q']==e[1])]
    df10=df10.loc[(df['k']==e0klm[i,0])&(df['l']==e0klm[i,1])&(df['m']==e0klm[i,2])]
    for j in range(df10.shape[0]):
        D=list(df10.iloc[j,0:3].values)
        B1=list(df10.iloc[j,3:6].values)
        B2=list(df10.iloc[j,6:9].values)
        cgci = cgc_md(B1,B2,D,df10)
        tag = [D, B1, B2]
        Gi = 'G'+str(count)
        count = count + 1
        Gm = Gm.row_insert(count, Matrix([[cgci,tag, Gi]]))

In [161]:
count

53

In [162]:
Gm

Matrix([
[ -sqrt(5)/10, [[2, 1, 1], [1, 1, 1], [2, 1, 1]],  G0],
[ sqrt(30)/10, [[2, 1, 1], [2, 0, 0], [2, 1, 2]],  G1],
[-sqrt(15)/10, [[2, 1, 1], [2, 0, 1], [2, 1, 1]],  G2],
[ -sqrt(5)/10, [[2, 1, 1], [2, 1, 1], [1, 1, 1]],  G3],
[-sqrt(15)/10, [[2, 1, 1], [2, 1, 1], [2, 0, 1]],  G4],
[ sqrt(30)/10, [[2, 1, 1], [2, 1, 2], [2, 0, 0]],  G5],
[ -sqrt(5)/10, [[2, 1, 2], [1, 1, 1], [2, 1, 2]],  G6],
[ sqrt(15)/10, [[2, 1, 2], [2, 0, 1], [2, 1, 2]],  G7],
[-sqrt(30)/10, [[2, 1, 2], [2, 0, 2], [2, 1, 1]],  G8],
[ -sqrt(5)/10, [[2, 1, 2], [2, 1, 2], [1, 1, 1]],  G9],
[-sqrt(30)/10, [[2, 1, 2], [2, 1, 1], [2, 0, 2]], G10],
[ sqrt(15)/10, [[2, 1, 2], [2, 1, 2], [2, 0, 1]], G11],
[-sqrt(30)/10, [[2, 0, 0], [1, 0, 0], [2, 1, 1]], G12],
[   sqrt(5)/5, [[2, 0, 0], [1, 1, 1], [2, 0, 0]], G13],
[   sqrt(5)/5, [[2, 0, 0], [2, 0, 0], [1, 1, 1]], G14],
[           0, [[2, 0, 0], [2, 0, 0], [2, 0, 1]], G15],
[           0, [[2, 0, 0], [2, 0, 1], [2, 0, 0]], G16],
[-sqrt(30)/10, [[2, 0, 0], [2, 1, 1], [1, 0, 0]], G17],
[-sqrt(15)/10, [[2, 0, 1], [1, 0, 0], [2, 1, 2]], G18],
[-sqrt(15)/10, [[2, 0, 1], [1, 0, 1], [2, 1, 1]], G19],
[   sqrt(5)/5, [[2, 0, 1], [1, 1, 1], [2, 0, 1]], G20],
[   sqrt(5)/5, [[2, 0, 1], [2, 0, 1], [1, 1, 1]], G21],
[           0, [[2, 0, 1], [2, 0, 0], [2, 0, 2]], G22],
[           0, [[2, 0, 1], [2, 0, 1], [2, 0, 1]], G23],
[           0, [[2, 0, 1], [2, 0, 2], [2, 0, 0]], G24],
[-sqrt(15)/10, [[2, 0, 1], [2, 1, 1], [1, 0, 1]], G25],
[-sqrt(15)/10, [[2, 0, 1], [2, 1, 2], [1, 0, 0]], G26],
[-sqrt(30)/10, [[2, 0, 2], [1, 0, 1], [2, 1, 2]], G27],
[   sqrt(5)/5, [[2, 0, 2], [1, 1, 1], [2, 0, 2]], G28],
[   sqrt(5)/5, [[2, 0, 2], [2, 0, 2], [1, 1, 1]], G29],
[           0, [[2, 0, 2], [2, 0, 1], [2, 0, 2]], G30],
[           0, [[2, 0, 2], [2, 0, 2], [2, 0, 1]], G31],
[-sqrt(30)/10, [[2, 0, 2], [2, 1, 2], [1, 0, 1]], G32],
[ -sqrt(5)/10, [[1, 0, 0], [1, 0, 0], [1, 1, 1]], G33],
[ sqrt(15)/10, [[1, 0, 0], [1, 0, 0], [2, 0, 1]], G34],
[-sqrt(30)/10, [[1, 0, 0], [1, 0, 1], [2, 0, 0]], G35],
[ -sqrt(5)/10, [[1, 0, 0], [1, 1, 1], [1, 0, 0]], G36],
[-sqrt(30)/10, [[1, 0, 0], [2, 0, 0], [1, 0, 1]], G37],
[ sqrt(15)/10, [[1, 0, 0], [2, 0, 1], [1, 0, 0]], G38],
[ -sqrt(5)/10, [[1, 0, 1], [1, 0, 1], [1, 1, 1]], G39],
[ sqrt(30)/10, [[1, 0, 1], [1, 0, 0], [2, 0, 2]], G40],
[-sqrt(15)/10, [[1, 0, 1], [1, 0, 1], [2, 0, 1]], G41],
[ -sqrt(5)/10, [[1, 0, 1], [1, 1, 1], [1, 0, 1]], G42],
[-sqrt(15)/10, [[1, 0, 1], [2, 0, 1], [1, 0, 1]], G43],
[ sqrt(30)/10, [[1, 0, 1], [2, 0, 2], [1, 0, 0]], G44],
[  sqrt(5)/10, [[1, 1, 1], [1, 0, 0], [2, 1, 2]], G45],
[ -sqrt(5)/10, [[1, 1, 1], [1, 0, 1], [2, 1, 1]], G46],
[  -sqrt(5)/5, [[1, 1, 1], [1, 1, 1], [1, 1, 1]], G47],
[  -sqrt(5)/5, [[1, 1, 1], [2, 0, 0], [2, 0, 2]], G48],
[   sqrt(5)/5, [[1, 1, 1], [2, 0, 1], [2, 0, 1]], G49],
[  -sqrt(5)/5, [[1, 1, 1], [2, 0, 2], [2, 0, 0]], G50],
[ -sqrt(5)/10, [[1, 1, 1], [2, 1, 1], [1, 0, 1]], G51],
[  sqrt(5)/10, [[1, 1, 1], [2, 1, 2], [1, 0, 0]], G52]])

In [163]:
Gm[:,0]

Matrix([
[ -sqrt(5)/10],
[ sqrt(30)/10],
[-sqrt(15)/10],
[ -sqrt(5)/10],
[-sqrt(15)/10],
[ sqrt(30)/10],
[ -sqrt(5)/10],
[ sqrt(15)/10],
[-sqrt(30)/10],
[ -sqrt(5)/10],
[-sqrt(30)/10],
[ sqrt(15)/10],
[-sqrt(30)/10],
[   sqrt(5)/5],
[   sqrt(5)/5],
[           0],
[           0],
[-sqrt(30)/10],
[-sqrt(15)/10],
[-sqrt(15)/10],
[   sqrt(5)/5],
[   sqrt(5)/5],
[           0],
[           0],
[           0],
[-sqrt(15)/10],
[-sqrt(15)/10],
[-sqrt(30)/10],
[   sqrt(5)/5],
[   sqrt(5)/5],
[           0],
[           0],
[-sqrt(30)/10],
[ -sqrt(5)/10],
[ sqrt(15)/10],
[-sqrt(30)/10],
[ -sqrt(5)/10],
[-sqrt(30)/10],
[ sqrt(15)/10],
[ -sqrt(5)/10],
[ sqrt(30)/10],
[-sqrt(15)/10],
[ -sqrt(5)/10],
[-sqrt(15)/10],
[ sqrt(30)/10],
[  sqrt(5)/10],
[ -sqrt(5)/10],
[  -sqrt(5)/5],
[  -sqrt(5)/5],
[   sqrt(5)/5],
[  -sqrt(5)/5],
[ -sqrt(5)/10],
[  sqrt(5)/10]])

Matrix([
[ -sqrt(5)/10, [[2, 1, 2], [1, 1, 1], [2, 1, 2]], G0],
[ sqrt(15)/10, [[2, 1, 2], [2, 0, 1], [2, 1, 2]], G1],
[-sqrt(30)/10, [[2, 1, 2], [2, 0, 2], [2, 1, 1]], G2],
[ -sqrt(5)/10, [[2, 1, 2], [2, 1, 2], [1, 1, 1]], G3],
[-sqrt(30)/10, [[2, 1, 2], [2, 1, 1], [2, 0, 2]], G4],
[ sqrt(15)/10, [[2, 1, 2], [2, 1, 2], [2, 0, 1]], G5]])

In [89]:
list(df10.iloc[i,0:3].values)

[2, 1, 1]

In [99]:
Matrix([[sqrt(2)*4, x**2/x, Rational(3,4), tag, Gi]])

Matrix([[4*sqrt(2), x, 3/4, [[2, 1, 1], [1, 1, 1], [2, 1, 1]], G0]])

In [ ]:
dff = ddf.loc[(df['k1']==initial1[0])&(df['l1']==initial1[1])&(df['m1']==initial1[2])]
dff = dff.loc[(df['k2']==initial2[0])&(df['l2']==initial2[1])&(df['m2']==initial2[2])]
dff = dff.loc[(df['k']==final[0])&(df['l']==final[1])&(df['m']==final[2])]

cgc_str=dff.loc[:,'cg_coef'].values[0]
cgc = parse_expr(cgc_str, evaluate=0)